<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../base-element.html">
<link rel="import" href="../styling/progress-container--style-module.html">

<dom-module id="progress-bar">
  <template>
    <style type="text/css" include="progress-container--style-module">
    </style>

    <div id="container__progress_bar" class="progress_indicator">
      <progress
        id="progress__bar"
        min="0"
        max="[[toStringOrEmpty(state.duration)]]"
        value$="[[toStringOrEmpty(state.position)]]"
        on-click="handleClick">
      </progress>
    </div>
  </template>

  <script>
    define('progress-bar', ['base-element'], (BaseElement) => {
      class ProgressBar extends BaseElement {
        static get is() { return 'progress-bar'; }

        static get properties() {
          return {
            state: Object,
            stateManager: Object,
          };
        }

        handleClick(e) {
          // Get x value by substracting offsetleft of progress-bar
          //let x = e.pageX - this.$.progress__bar.offsetLeft;
          let x = e.pageX - this.$.progress__bar.getBoundingClientRect().left;
          // Calculate value that will be between 0 and the max value (duration of video) -> exact moment of video
          let clickedValue = x * this.$.progress__bar.max / this.$.progress__bar.offsetWidth;
          // Check if still within borders
          let isClicked = clickedValue <= this.$.progress__bar.max;
          if(isClicked){
            this.stateManager.setPosition(clickedValue);
          }
        }
      }

      window.customElements.define(ProgressBar.is, ProgressBar);
    });
  </script>

</dom-module>
