<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/progress-container--style-module.html">

<dom-module id="slide-thumbnail">
  <template>
  <style type="text/css" include="progress-container--style-module">
      #container__slide_thumbnail_element {
        position: absolute;
        right: 0;
        border-left: 1px solid black;
        border-right: 1px solid black;
        @apply --set-secondary-background-color;
        height: 10px;
      }
      #container__slide_thumbnail_element:hover {
        background-color: white;
      }

      #image__slide_preview {
        display: none;
        position: absolute;
        /* Cancel out the top border */
        bottom: calc(100% + 1px);
        max-width: 170px;
        border: 1px solid black;;
        background-color: white;
      }
      #container__slide_thumbnail_element.-left #image__slide_preview {
        left: 0;
      }
      #container__slide_thumbnail_element.-right #image__slide_preview {
        right: 0;
      }

      #container__slide_thumbnail_element:hover #image__slide_preview {
        display: block;
      }
    </style>

    <div id="container__slide_thumbnail_element"
         on-click="_handleClick"
         style$="left: [[_stylePercentage(slide.startPosition, state.duration)]]%;"
         class$="[[_getSlidePosition(slide.startPosition, state.duration)]]">
        <img id="image__slide_preview" src="[[slide.thumbnail]]">
    </div>

  </template>

  <script>
    define('slide-thumbnail', ['binding-helpers', 'ioc-requester', 'constants'], (BindingHelpersMixin, IocRequesterMixin, constants) => {
      const {ANALYTICS_TOPICS} = constants;

      class SlideThumbnail extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'slide-thumbnail'; }

        static get properties() {
          return {
            state: Object,
            slide: Object,
            _analyticsManager: {
              type: Object,
              inject: 'AnalyticsManager',
            },
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            }
          };
        }

        _stylePercentage(position, duration) {
          return position / duration * 100;
        }

        _getSlidePosition(position, duration) {
          let percentage = this._stylePercentage(position, duration);
          // This is an approximation
          // to avoid that the slide image overflows the video container
          if(percentage > 85) {
            return '-right';
          } else {
            return '-left';
          }
        }

        _handleClick(){
          this._analyticsManager.changeState('setPosition', [this.slide.startPosition], {verb: ANALYTICS_TOPICS.VIDEO_SLIDE_SEEK});
        }
      }

      window.customElements.define(SlideThumbnail.is, SlideThumbnail);
    });
  </script>

</dom-module>