<link rel="import" href="../../../../imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/progress-container--style-module.html">
<link rel="import" href="slide-thumbnail.html">

<dom-module id="slide-preview-bar">
  <template>
    <style type="text/css" include="progress-container--style-module">
    #container__slide_preview_bar {
      height: 10px;
    }
    </style>

    <div id="container__slide_preview_bar" class="progress_indicator">
        <template is="dom-repeat" items="[[slides]]">
          <template is="dom-if" if="[[less(item.startPosition, state.duration)]]">
            <slide-thumbnail state="[[state]]" slide="[[item]]"></slide-thumbnail>
          </template>
        </template>
    </div>

  </template>

  <script>
    define('slide-preview-bar', ['binding-helpers', 'ioc-requester', 'constants'], (BindingHelpersMixin, IocRequesterMixin, constants) => {
      const {ANALYTICS_TOPICS} = constants;

      class SlidePreviewBar extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'slide-preview-bar'; }

        static get properties() {
          return {
            state: Object,
            slides: Array,
            activeSlide: {
              type: Object,
              value: () => ({}),
            },
            _analyticsManager: {
              type: Object,
              inject: 'AnalyticsManager',
            },
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
          };
        }

        static get observers() {
          return [
            '_checkSlideActivation(state.position)',
            '_handleSlideChange(activeSlide)',
          ];
        }

        _checkSlideActivation() {
          if (this._analyticsManager) {
            let currentActiveSlide = this._analyticsManager._getActiveSlide();
            if (this.activeSlide !== currentActiveSlide) {
              this.activeSlide = currentActiveSlide;
            }
          }
        }

        _handleSlideChange(slide) {
          if (this._analyticsManager) {
            this._analyticsManager.newEvent({verb: ANALYTICS_TOPICS.VIDEO_SLIDE_CHANGE}, {newCurrentSlide: slide});
          }
        }
      }

      window.customElements.define(SlidePreviewBar.is, SlidePreviewBar);
    });
  </script>

</dom-module>
