<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/progress-container--style-module.html">
<link rel="import" href="../base-components/progress-bar.html">

<dom-module id="video-progress">
  <template>
    <style type="text/css" include="progress-container--style-module">
    </style>

    <div class="progress_indicator">
      <progress-bar
        id="progress__video_progress"
        max="[[toStringOrEmpty(state.duration)]]"
        value$="[[toStringOrEmpty(state.position)]]"
        secondary-value$="[[toStringOrEmpty(state.bufferPosition)]]"
        on-change="_handleChange">
      </progress-bar>
    </div>
  </template>

  <script>
    define('video-progress', ['binding-helpers', 'ioc-requester', 'constants'], (BindingHelpersMixin, IocRequesterMixin, constants) => {
      const {ANALYTICS_TOPICS} = constants;

      class VideoProgress extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'video-progress'; }

        static get properties() {
          return {
            state: Object,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _analyticsManager: {
              type: Object,
              inject: 'AnalyticsManager',
            },
          };
        }

        _handleChange(e) {
          this._analyticsManager.changeState('setPosition', [e.target.value], {verb: ANALYTICS_TOPICS.videoSeek, tack_change: true});
        }
      }

      window.customElements.define(VideoProgress.is, VideoProgress);
    });
  </script>

</dom-module>
