<link rel='import' href='../../../../polymer/polymer-element.html'>

<dom-module id='lecture-chapter'>
  <link rel='import' type='css' href='../../../../components-font-awesome/css/font-awesome.min.css'>
  
  <template>

    <style type="text/css">
    </style>

    <div id="lecture-chapter-container">
      <span>[[chapter.name]]</span>
      <span>[[_secondsToHms(chapter.duration)]]</span>
      <span><a href='[[url]]#t=[[chapter.startPosition]]'><i class="fa fa-play-circle fa-lg fa-fw"></i></a></span>            
    </div>
    
  </template>

  <script>
    class LectureChapter extends Polymer.Element {
      static get is() { return 'lecture-chapter'; }

      static get properties() {
        return {
          chapter: {
            type: Object
          },
          url: {
            type: String
          },
          currentChapter: {
            type: Boolean

          }
        };
      }

      ready() {
        super.ready();

        if(this.currentChapter){
          // do sth if you want to highlight the current Video of the lectureseries
        }
      }

      _secondsToHms(position) {
        var seconds   = Number(position);
        var hours     = Math.floor(seconds / 3600);
        var minutes   = Math.floor(seconds % 3600 / 60);
        var seconds2  = Math.floor(seconds % 3600 % 60);

        if(hours < 10){hours = "0" + hours;}
        if(minutes < 10){minutes = "0" + minutes;}
        if(seconds2 < 10){seconds2 = "0" + seconds2;}

        return hours + ":" + minutes + ":" + seconds2;
      }

      _equals(a, b) {
        return a === b;
      }
    }

    window.customElements.define(LectureChapter.is, LectureChapter);
  </script>
</dom-module>
