<link rel='import' href='../../../../polymer/polymer-element.html'>

<dom-module id='lecture-slide'>
  <template>
    <style type="text/css">
      .container__lecture_slide{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        border-left: 1px solid #000;
        background-color: #777;
        height: 10px;
      }
      .container__lecture_slide_img{
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 1px;
        left: 0px;
        border: 1px solid #000000;;
        background-color: #FFF;
        visibility: hidden;
      }
    </style>

    <div id="container__lectureSlide_element" class="container__lecture_slide" style="left: [[_stylePercentage(slide.startPosition,state.duration)]]%">
        <img id="image__slidePreview" src="[[slide.imageUrl]]" class="container__lecture_slide_img">
    </div>

  </template>

  <script>
    class LectureSlide extends Polymer.Element {
      static get is() { return 'lecture-slide'; }

      static get properties() {
        return {
          state: {
            type: Object
          },
          stateManager: {
            type: Object
          },
          slide: {
            type: Object
          }
        };
      }

      ready() {
        super.ready();
        //this.$.progress__bar.addEventListener('click', this._progressBarClicked.bind(this));
        this.addEventListener('mouseenter', e => this._mouseEnterListener(e));
        this.addEventListener('mouseleave', e => this._mouseLeaveListener(e));
        this.addEventListener('click', e => this._mouseClickListener(e));
      }

      _stylePercentage(position, duration) {
        return position/duration*100;
      }

      _mouseClickListener(event){
        this.stateManager.setPosition(this.slide.startPosition);
      }

      _mouseEnterListener(event){
        this.$.container__lectureSlide_element.style.backgroundColor = "white";
        this.$.image__slidePreview.style.visibility = "visible";
        this.$.image__slidePreview.style.bottom = this.$.container__lectureSlide_element.offsetHeight + 1 + "px";
      }

      _mouseLeaveListener(event){
        this.$.container__lectureSlide_element.style.backgroundColor = "#777";
        this.$.image__slidePreview.style.visibility = "hidden";
      }
    }

    window.customElements.define(LectureSlide.is, LectureSlide);
  </script>

</dom-module>
