<link rel="import" href="../../3rd-imports/scoped-imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/control-bar--style-module.html">
<link rel="import" href="../base-components/custom-progress.html">

<dom-module id="sound-control">
  <template>
    <style type="text/css" include="control-bar--style-module">
      :host {
        flex-basis: 5%;
        min-width: 60px;
        position: relative;
        margin-left: -10px;
      }
    </style>

    <div id="container__sound_control" class="user_controls -no-padding-left">
      <custom-progress
        id="progress__sound_control"
        value$="[[toStringOrEmpty(_effectiveVolume)]]"
        on-change="_handleChange"
        border>
      </custom-progress>
    </div>

  </template>

  <script>
    IMD.define('sound-control', ['binding-helpers', 'ioc-requester', 'constants'], (BindingHelpersMixin, IocRequesterMixin, constants) => {
      const {ANALYTICS_TOPICS} = constants;

      class SoundControl extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'sound-control'; }

        static get properties() {
          return {
            state: Object,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _analyticsManager: {
              type: Object,
              inject: 'AnalyticsManager',
            },
            _effectiveVolume: {
              type: Number,
              computed: '_getEffectiveVolume(state.volume, state.muted)',
            },
          };
        }

        _getEffectiveVolume(volume, muted) {
          if(typeof volume === 'undefined') {
            return '';
          }

          return muted ? 0 : volume;
        }

        _handleChange(e) {
          this._analyticsManager.changeState('setVolume', [e.target.value], {verb: ANALYTICS_TOPICS.VIDEO_VOLUME_CHANGE});
        }
      }

      window.customElements.define(SoundControl.is, SoundControl);
    });
  </script>

</dom-module>
