<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/control-bar--style-module.html">
<link rel="import" href="../base-components/select-control.html">

<dom-module id="caption-control">
  <link rel="import" type="css" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">

  <template>
    <style type="text/css" include="control-bar--style-module">
    </style>

    <select-control
      values="[[_values]]"
      selected-value="[[ifThenElse(state.isCaptionShown, state.captionLanguage, 'off')]]"
      on-change="_selectionChanged"
      icon-classes="fa fa-cc"
      active="[[state.isCaptionShown]]">
    </select-control>
  </template>

  <script>
    define('caption-control', ['binding-helpers', 'ioc-requester'], (BindingHelpersMixin, IocRequesterMixin) => {
      class CaptionControl extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'caption-control'; }

        static get properties() {
          return {
            state: Object,
            languages: Array,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _values: {
              type: Array,
              computed: '_getValues(languages.*)',
            },
          };
        }

        _getValues() {
          return ['off'].concat(this.languages);
        }

        _selectionChanged(e) {
          if (e.target.selectedValue !== 'off') {
            this._stateManager.setCaptionLanguage(e.target.selectedValue);
            if(!this.state.isCaptionShown) {
              this._stateManager.toggleCaptions();
            }
          }

          if (e.target.selectedValue === 'off' && this.state.isCaptionShown) {
            this._stateManager.toggleCaptions();
          }
        }
      }

      window.customElements.define(CaptionControl.is, CaptionControl);
    });
  </script>

</dom-module>
