<link rel="import" href="../../../../imd/imd.html">
<link rel="import" href="../../../../../node_modules/polymer-font-awesome/dist/font-awesome.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/control-bar--style-module.html">

<dom-module id="chapter-list-switch">
  <template>
    <style type="text/css" include="control-bar--style-module font-awesome">
      :host {
        /* Avoid flickering with changing icons */
        /* It should be about twice the icon size */
        min-width: 48px;
      }
    </style>

    <div id="container__chapter_list_switch" class="user_controls">
      <a id="button__chapter_list"
         class$="button [[ifNotThen(state.isChapterListShown, 'inactive')]]"
         on-click="_handleClick"
         href="javascript:void(0)">
        <i class="fa fa-list"></i>
      </a>
    </div>
    </template>

  <script>
    define('chapter-list-switch', ['binding-helpers', 'ioc-requester', 'constants'], (BindingHelpersMixin, IocRequesterMixin, constants) => {
      const {ANALYTICS_TOPICS} = constants;

      class ChapterListControl extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'chapter-list-switch'; }

        static get properties() {
          return {
            state: Object,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _analyticsManager: {
              type: Object,
              inject: 'AnalyticsManager',
            },
          };
        }

        _handleClick() {
          this._analyticsManager.changeState('toggleIsChapterListShown', [], {verb: ANALYTICS_TOPICS.VIDEO_CHAPTER});
        }
      }

      window.customElements.define(ChapterListControl.is, ChapterListControl);
    });
  </script>

</dom-module>
