<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../base-element.html">
<link rel="import" href="progress-bar.html">
<link rel="import" href="playpause-control.html">
<link rel="import" href="sound-control.html">
<link rel="import" href="videotime-display.html">
<link rel="import" href="speed-control.html">
<link rel="import" href="chapter-list-switch.html">
<link rel="import" href="quality-switch.html">
<link rel="import" href="mute-control.html">
<link rel="import" href="fullscreen-control.html">

<dom-module id="control-bar">
  <template>
    <style type="text/css">
      #container__control_bar {
        display: flex;
        align-items: stretch;
        /* Firefox fullscreen mode has a black background which does not work well
         with our black font color for the control bar icons. */
        background-color: white;
      }
    </style>

    <div id="container__control_bar">
      <playpause-control state="{{state}}" state-manager="{{stateManager}}"></playpause-control>
      <progress-bar state="{{state}}" state-manager="{{stateManager}}"></progress-bar>
      <videotime-display state="{{state}}" state-manager="{{stateManager}}"></videotime-display>
      <speed-control state="{{state}}" state-manager="{{stateManager}}"></speed-control>
      <template is="dom-if" if="{{hasMultipleQualities}}">
        <quality-switch state="{{state}}" state-manager="{{stateManager}}" available-qualities="{{availableQualities}}"></quality-switch>
      </template>
      <template is="dom-if" if="{{hasChapters}}">
        <chapter-list-switch state="{{state}}" state-manager="{{stateManager}}"></chapter-list-switch>
      </template>
      <mute-control state="{{state}}" state-manager="{{stateManager}}"></mute-control>
      <sound-control state="{{state}}" state-manager="{{stateManager}}"></sound-control>
      <full-screen-control state="{{state}}" state-manager="{{stateManager}}"></full-screen-control>
    </div>
  </template>

  <script>
    define('control-bar', ['base-element'], (BaseElement) => {
      class ControlBar extends BaseElement {
        static get is() { return 'control-bar'; }

        static get properties() {
          return {
            state: Object,
            stateManager: Object,
            hasChapters: Boolean,
            availableQualities: Boolean,
            hasMultipleQualities: {
              type: Boolean,
              computed: '_hasMultipleQualities(availableQualities)',
            },
          };
        }

        ready() {
          super.ready();

          window.addEventListener('keydown', this.onkeydown.bind(this));
        }

        onkeydown(e) {
          if (e.defaultPrevented) {
            // Do nothing if the event was already processed
            return;
          }

          if(e.key === 'ArrowRight') {
            this.stateManager.setPosition(this.state.position + 15);
          } else if (e.key === 'ArrowLeft') {
            this.stateManager.setPosition(this.state.position - 15);
          } else if (e.key === ' ' || e.key === 'p') {
            this.stateManager.togglePlayPause();
          } else if (e.key === 'f') {
            this.stateManager.toggleFullScreen();
          } else {
            return;
          }

          // Make sure the user doesn't trigger anything else with their
          // keyboard interaction, like scrolling the page
          e.preventDefault();
        }

        _hasMultipleQualities() {
          return this.availableQualities.length > 1;
        }
      }

      window.customElements.define(ControlBar.is, ControlBar);
    });
  </script>

</dom-module>
