<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">

<link rel="import" href="playpause-control.html">
<link rel="import" href="sound-control.html">
<link rel="import" href="videotime-display.html">
<link rel="import" href="speed-control.html">
<link rel="import" href="chapter-list-switch.html">
<link rel="import" href="interactive-transcript-control.html">
<link rel="import" href="quality-control.html">
<link rel="import" href="mute-control.html">
<link rel="import" href="fullscreen-control.html">
<link rel="import" href="caption-control.html">
<link rel="import" href="playlist-navigation-control.html">
<link rel="import" href="mobile-settings-menu.html">
<link rel="import" href="../../styling/global--style-module.html">

<dom-module id="control-bar">
  <template>
    <style type="text/css" include="global--style-module">
      #container__control_bar {
        display: flex;
        align-items: stretch;
        /* Firefox fullscreen mode has a black background which does not work well
         with our black font color for the control bar icons. */
        background-color: white;
      }

      /* This class shall be used to define from which element on
      the content is shown on the right side of the controlbar */
      .-flex-grow {
        flex-grow: 1;
        justify-content: flex-end;
        background-color: var(--background-color-for-primary);
      }

      @media (max-width: 768px) {
        .hidden-for-mobile {
          display: none;
        }
      }
      @media (min-width: 769px) {
        .hidden-for-desktop {
          display: none;
        }
      }
    </style>

    <div id="container__control_bar">
      <!-- Left button section -->
      <template is="dom-if" if="[[playlist.previousVideo]]">
        <playlist-navigation-control direction="backward" video-url="[[playlist.previousVideo]]"></playlist-navigation-control>
      </template>
      <playpause-control state="[[state]]"></playpause-control>
      <template is="dom-if" if="[[playlist.nextVideo]]">
        <playlist-navigation-control direction="forward" video-url="[[playlist.nextVideo]]"></playlist-navigation-control>
      </template>

      <!-- Video Time -->
      <videotime-display state="[[state]]" class="-flex-grow"></videotime-display>

      <!-- Right button section -->
      <template is="dom-if" if="[[hasItems(captionLanguages)]]">
        <caption-control state="[[state]]" languages="[[captionLanguages]]" class="hidden-for-mobile"></caption-control>
      </template>
      <template is="dom-if" if="[[hasItems(captionLanguages)]]">
        <interactive-transcript-control state="[[state]]" languages="[[captionLanguages]]" class="hidden-for-mobile"></interactive-transcript-control>
      </template>
      <speed-control state="[[state]]" class="hidden-for-mobile"></speed-control>
      <template is="dom-if" if="[[hasItems(availableQualities, 2)]]">
        <quality-control state="[[state]]" qualities="[[availableQualities]]" class="hidden-for-mobile"></quality-control>
      </template>
      <template is="dom-if" if="[[hasChapters]]">
        <chapter-list-switch state="[[state]]" class="hidden-for-mobile"></chapter-list-switch>
      </template>

      <!-- Sound controls -->
      <mute-control state="[[state]]" class="hidden-for-mobile"></mute-control>
      <sound-control state="[[state]]" class="hidden-for-mobile"></sound-control>

      <!-- Settings menu for mobile devices -->
      <mobile-settings-menu
        state="[[state]]"
        class="hidden-for-desktop"
        caption-languages="[[captionLanguages]]"
        available-qualities="[[availableQualities]]">
      </mobile-settings-menu>

      <!-- Fullscreen -->
      <full-screen-control state="[[state]]"></full-screen-control>
    </div>
  </template>

  <script>
    define('control-bar', ['binding-helpers', 'ioc-requester'], (BindingHelpersMixin, IocRequesterMixin) => {
      const SKIP_SECONDS = 15;
      const TEXT_ELEMENT_TAG_NAMES = ['INPUT', 'TEXTAREA'];

      class ControlBar extends IocRequesterMixin(BindingHelpersMixin(Polymer.Element)) {
        static get is() { return 'control-bar'; }

        static get properties() {
          return {
            state: Object,
            hasChapters: Boolean,
            playlist: Object,
            captionLanguages: Array,
            availableQualities: Boolean,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
          };
        }

        ready() {
          super.ready();

          // Add event listener for keyboard shortcuts
          window.addEventListener('keydown', (e) => {
            if (e.defaultPrevented || TEXT_ELEMENT_TAG_NAMES.includes(document.activeElement.tagName)) {
              // Do nothing, if the event was already processed or an text input is focussed
              return;
            }

            if (e.key === 'ArrowRight' || e.key === 'Right') {
              this._stateManager.skipSeconds(SKIP_SECONDS);
            } else if (e.key === 'ArrowLeft' || e.key === 'Left') {
              this._stateManager.skipSeconds(-SKIP_SECONDS);
            } else if (e.key === ' ' || e.key === 'Spacebar' || e.key === 'p') {
              this._stateManager.togglePlayPause();
            } else if (e.key === 'f') {
              this._stateManager.toggleFullscreen();
            } else {
              return;
            }

            // Make sure the user doesn't trigger anything else with their
            // keyboard interaction, like scrolling the page
            e.preventDefault();
          });
        }
      }

      window.customElements.define(ControlBar.is, ControlBar);
    });
  </script>

</dom-module>
