<link rel="import" href="../../3rd-imports/scoped-imd.html">
<link rel="import" href="../../../../../node_modules/polymer-font-awesome/dist/font-awesome.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">

<link rel="import" href="caption-control.html">
<link rel="import" href="interactive-transcript-control.html">
<link rel="import" href="speed-control.html">
<link rel="import" href="quality-control.html">
<link rel="import" href="stream-switch-control.html">
<link rel="import" href="../../styling/control-bar--style-module.html">

<dom-module id="mobile-settings-menu">
  <template>
    <style type="text/css" include="control-bar--style-module font-awesome">
      :host {
        /* Avoid flickering with changing icons */
        /* It should be about twice the icon size */
        min-width: 48px;
      }

      .mobile-settings-menu-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      .user_controls.open {
        @apply --set-accent-color-background;
      }

      #mobile-settings-menu__select > [is-in-mobile-menu="true"] {
        margin: 4px 0;
        background-color: rgba(255, 255, 255, 0.4);
      }
    </style>

    <div id="mobile-settings-menu" class="user_controls">
      <div class="mobile-settings-menu-container">
        <a id="button__select" class="button" on-click="_toggleMobileSettingsMenu">
          <i class="fa fa-cog"></i>
        </a>
        <div id="mobile-settings-menu__select"
             class$="mobile-settings-menu-content [[ifNotThen(_isMobileSettingsMenuOpen, '-hidden')]]"
             style$="bottom: [[_calcBottomValue(state.isInteractiveTranscriptShown)]];">
          <template is="dom-if" if="[[captionLanguages]]">
          <caption-control is-in-mobile-menu="true" state="[[state]]" languages="[[captionLanguages]]">
            </caption-control>
          </template>
          <template is="dom-if" if="[[captionLanguages]]">
            <interactive-transcript-control is-in-mobile-menu="true" state="[[state]]" languages="[[captionLanguages]]">
            </interactive-transcript-control>
          </template>
          <speed-control is-in-mobile-menu="true" state="[[state]]"></speed-control>
          <template is="dom-if" if="[[_hasMultipleQualities]]">
            <quality-control is-in-mobile-menu="true" state="[[state]]" qualities="[[availableQualities]]">
            </quality-control>
          </template>
          <template is="dom-if" if="[[hasFallbackStream]]">
            <stream-switch-control is-in-mobile-menu="true" state="[[state]]" number-of-streams="[[numberOfStreams]]" class="hidden-for-mobile"></stream-switch-control>
          </template>
        </div>
      </div>
    </div>

  </template>

  <script>
    IMD.define('mobile-settings-menu', ['binding-helpers', 'ioc-requester'], (BindingHelpersMixin, IocRequesterMixin) => {

      class MobileSettingsMenu extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'mobile-settings-menu'; }

        static get properties() {
          return {
            state: Object,
            captionLanguages: Array,
            availableQualities: Boolean,
            hasFallbackStream: Boolean,
            numberOfStreams: Number,
            _isMobileSettingsMenuOpen: {
              type: Boolean,
              value: false,
            },
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _hasMultipleQualities: {
              type: Boolean,
              computed: '_getHasMultipleQualities(availableQualities)',
            },
          };
        }

        static get observers() {
          return [
            '_mobileSettingsMenuChanged(state.mobileSettingsMenuOpen)',
          ];
        }

        ready() {
          super.ready();
        }

        _toggleMobileSettingsMenu() {
          this._stateManager.setMobileSettingsMenuOpen(!this._isMobileSettingsMenuOpen);
        }

        _mobileSettingsMenuChanged(menuOpen) {
          this._isMobileSettingsMenuOpen = menuOpen;
          if(this._isMobileSettingsMenuOpen) {
            this.$['mobile-settings-menu'].classList.add('open');
          } else {
            this.$['mobile-settings-menu'].classList.remove('open');
          }
        }

        _getHasMultipleQualities() {
          return this.availableQualities.length > 1;
        }

        _calcBottomValue(isInteractiveTranscriptShown) {
          if(isInteractiveTranscriptShown) {
            return '240px';
          } else {
            return '40px';
          }
        }
      }

      window.customElements.define(MobileSettingsMenu.is, MobileSettingsMenu);
    });
  </script>

</dom-module>
