<link rel="import" href="../../../bower_components/imd/imd.html">
<link rel="import" href="../../../node_modules/polymer-font-awesome/dist/font-awesome.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">

<link rel="import" href="caption-control.html">
<link rel="import" href="interactive-transcript-control.html">
<link rel="import" href="speed-control.html">
<link rel="import" href="quality-control.html">
<link rel="import" href="../../styling/control-bar--style-module.html">

<dom-module id="mobile-settings-menu">
  <template>
    <style type="text/css" include="control-bar--style-module font-awesome">
      :host {
        /* Avoid flickering with changing icons */
        /* It should be about twice the icon size */
        min-width: 48px;
      }

      .dropdown-content {
        position: absolute;
        /* Equals control bar height. This is set to assure that the dropdown opens to the top. */
        top: 0;
        bottom: 40px;
        /* Cancel out the padding */
        left: 0;
        right: 0;
        z-index: 10;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7);
      }

      .user_controls.open {
        @apply --set-accent-color-background;
      }

      #dropdown__select > [is-in-mobile-menu="true"] {
        margin: 4px 0;
        background-color: rgba(255, 255, 255, 0.4);
      }
    </style>

    <div id="container__select_control" class="user_controls">
      <div class="dropdown">
        <a id="button__select" class="button" on-click="_toggleDropDown">
          <i class="fa fa-cog"></i>
        </a>
        <div id="dropdown__select" class$="dropdown-content [[ifNotThen(_isDropDownOpen, '-hidden')]]">
          <template is="dom-if" if="[[captionLanguages]]">
          <caption-control is-in-mobile-menu="true" state="[[state]]" languages="[[captionLanguages]]">
            </caption-control>
          </template>
          <template is="dom-if" if="[[captionLanguages]]">
            <interactive-transcript-control is-in-mobile-menu="true" state="[[state]]" languages="[[captionLanguages]]">
            </interactive-transcript-control>
          </template>
          <speed-control is-in-mobile-menu="true" state="[[state]]"></speed-control>
          <template is="dom-if" if="[[_hasMultipleQualities]]">
            <quality-control is-in-mobile-menu="true" state="[[state]]" qualities="[[availableQualities]]">
            </quality-control>
          </template>
        </div>
      </div>
    </div>

  </template>

  <script>
    define('mobile-settings-menu', ['binding-helpers', 'ioc-requester'], (BindingHelpersMixin, IocRequesterMixin) => {

      class MobileSettingsMenu extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'mobile-settings-menu'; }

        static get properties() {
          return {
            state: Object,
            captionLanguages: Array,
            availableQualities: Boolean,
            _isDropDownOpen: {
              type: Boolean,
              value: false,
            },
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _hasMultipleQualities: {
              type: Boolean,
              computed: '_getHasMultipleQualities(availableQualities)',
            },
          };
        }

        ready() {
          super.ready();
        }

        _toggleDropDown() {
          this._isDropDownOpen = !this._isDropDownOpen;
          if(this._isDropDownOpen) {
            this.$.container__select_control.classList.add('open');
          } else {
            this.$.container__select_control.classList.remove('open');
          }
        }

        _getHasMultipleQualities() {
          return this.availableQualities.length > 1;
        }
      }

      window.customElements.define(MobileSettingsMenu.is, MobileSettingsMenu);
    });
  </script>

</dom-module>
