<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styling/control-bar--style-module.html">

<dom-module id="mute-control">
  <link rel="import" type="css" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">

  <template>
    <style type="text/css" include="control-bar--style-module">
      #container__mute_control {
        border-right: none;
      }
      :host {
        /* Avoid flickering with changing icons */
        /* It should be about twice the icon size */
        min-width: 3rem;
      }
      #button__mute i {
        font-size: 1.5rem;
      }
    </style>

    <div id="container__mute_control" class="user_controls">
      <a id="button__mute" class="button">
        <template is="dom-if" if="[[state.muted]]">
          <i class="fa fa-volume-off" />
        </template>
        <template is="dom-if" if="[[!state.muted]]">
          <i class="fa fa-volume-up" />
        </template>
      </a>
    </div>
  </template>

  <script>
    class MuteControl extends Polymer.Element {
      static get is() { return 'mute-control'; }

      static get properties() {
        return {
          state: Object,
          stateManager: Object,
        };
      }

      ready() {
        super.ready();

        // Add event listeners
        this.$.button__mute.addEventListener('click', () => this.stateManager.toggleMute());
      }
    }

    window.customElements.define(MuteControl.is, MuteControl);
  </script>

</dom-module>
