<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/control-bar--style-module.html">

<dom-module id="mute-control">
  <link rel="import" type="css" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">

  <template>
    <style type="text/css" include="control-bar--style-module">
      #container__mute_control {
        border-right: none;
      }
      :host {
        /* Avoid flickering with changing icons */
        /* It should be about twice the icon size */
        min-width: 3rem;
      }
    </style>

    <div id="container__mute_control" class="user_controls">
      <a id="button__mute" class="button" on-click="_handleClick">
        <i class$="fa [[ifThenElse(_isMuted, 'fa-volume-off', 'fa-volume-up')]]"></i>
      </a>
    </div>
  </template>

  <script>
    define('mute-control', ['binding-helpers', 'ioc-requester'], (BindingHelpersMixin, IocRequesterMixin) => {
      class MuteControl extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'mute-control'; }

        static get properties() {
          return {
            state: Object,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _isMuted: {
              type: Boolean,
              computed: '_getIsMuted(state.muted, state.volume)',
            },
          };
        }

        _getIsMuted(muted, volume) {
          return muted || volume === 0;
        }

        _handleClick() {
          this._stateManager.toggleMute();
        }
      }

      window.customElements.define(MuteControl.is, MuteControl);
    });
  </script>

</dom-module>
