<link rel='import' href='../../../bower_components/polymer/polymer-element.html'>
<link rel='import' href='../styling/control-bar--style-module.html'>

<dom-module id='my-select-control'>
  <link rel='import' type='css' href='../../../bower_components/components-font-awesome/css/font-awesome.min.css'>

  <template>
    <style type='text/css' include="control-bar--style-module">
    </style>

    <div id="container__my_select_control" class="user_controls">
        <select id="select__my_select_control" class="button" on-change="changeHandler">
          <template is='dom-repeat' items='[[valueRange]]'>
            <template is='dom-if' if='{{_equal(item, value)}}'>
              <option value="[[item]]" selected="selected">[[formatValue(item)]]</option>
            </template>
            <template is='dom-if' if='{{!_equal(item, value)}}'>
              <option value="[[item]]">[[formatValue(item)]]</option>
            </template>
          </template>
        </select>
    </div>
    </template>

  <script>
    class MySelectControl extends Polymer.Element {
      static get is() { return 'my-select-control'; }

      static get properties() {
        return {
          state: {
            type: Object
          },
          stateManager: {
            type: Object
          },
          value: { 
            type: String
          },
          formatValue: {
            type: Function,
            value: function() { return this.value; }
          },
          valueRange: {
            type: Object,
            value: function() { return []; }
          },
          changeHandler: {
            type: Function
          }
        };
      }

      ready() {
        super.ready();
        // Add event listeners
      }

      _equal(a, b) {
        return a == b;
      }
    }

    window.customElements.define(MySelectControl.is, MySelectControl);
  </script>

</dom-module>
