<link rel="import" href="../../../bower_components/imd/imd.html">
<link rel="import" href="../../../node_modules/polymer-font-awesome/dist/font-awesome.html">

<link rel="import" href="../../styling/control-bar--style-module.html">

<dom-module id="navigation-control">
  <template>
    <style type="text/css" include="control-bar--style-module font-awesome">
      :host {
        /* Avoid flickering with changing icons */
        /* It should be about twice the icon size */
        min-width: 3rem;
      }
    </style>

    <template is="dom-if" if="{{previousVideo}}">
      <div id="container__previous_video" class="user_controls">
        <a id="button__previous_video" class="button" href="{{videoUrl}}">
          <i class="fa fa-step-backward"></i>
        </a>
      </div>
    </template>

    <template is="dom-if" if="{{nextVideo}}">
      <div id="container__next_video" class="user_controls">
        <a id="button__next_video" class="button" href="{{videoUrl}}">
          <i class="fa fa-step-forward"></i>
        </a>
      </div>
    </template>

  </template>

  <script>
    define('navigation-control', ['binding-helpers', 'ioc-requester'], (BindingHelpersMixin, IocRequesterMixin) => {
      class NavigationControl extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'navigation-control'; }

        static get properties() {
          return {
            state: Object,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            previousVideo: {
              type: Boolean,
              value: false,
            },
            nextVideo: {
              type: Boolean,
              value: false,
            },
            videoUrl: {
              type: String,
            },
          };
        }
      }

      window.customElements.define(NavigationControl.is, NavigationControl);
    });
  </script>

</dom-module>
