<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styling/control-bar--style-module.html">

<dom-module id="playpause-control">
  <link rel="import" type="css" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">

  <template>
    <style type="text/css" include="control-bar--style-module">
      :host {
        /* Avoid flickering with changing icons */
        /* It should be about twice the icon size */
        min-width: 3rem;
      }
      #button__play_pause i {
        font-size: 1.5rem;
      }
    </style>

    <div id="container__play_pause_control" class="user_controls">
      <a id="button__play_pause" class="button">
        <template is="dom-if" if="[[_equals(state.playState, 'PLAYING')]]">
          <i class="fa fa-pause" />
        </template>
        <template is="dom-if" if="[[!_equals(state.playState, 'PLAYING')]]">
          <i class="fa fa-play" />
        </template>
      </a>
    </div>
  </template>

  <script>
    class PlayPauseControl extends Polymer.Element {
      static get is() { return 'playpause-control'; }

      static get properties() {
        return {
          state: Object,
          stateManager: Object,
        };
      }

      ready() {
        super.ready();

        // Add event listeners
        this.$.button__play_pause.addEventListener('click', () => this.stateManager.togglePlayPause());
      }

      _equals(a, b) {
        return a === b;
      }
    }

    window.customElements.define(PlayPauseControl.is, PlayPauseControl);
  </script>

</dom-module>
