<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/control-bar--style-module.html">

<dom-module id="playpause-control">
  <link rel="import" type="css" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">

  <template>
    <style type="text/css" include="control-bar--style-module">
      :host {
        /* Avoid flickering with changing icons */
        /* It should be about twice the icon size */
        min-width: 3rem;
      }
    </style>

    <div id="container__play_pause_control" class="user_controls">
      <a id="button__play_pause" class="button" on-click="_handleClick">
        <i class$="fa [[iconClass]]"></i>
      </a>
    </div>
  </template>

  <script>
    define('playpause-control', ['binding-helpers', 'ioc-requester', 'constants'], (BindingHelpersMixin, IocRequesterMixin, constants) => {
      const {PLAY_STATES, ANALYTICS_TOPICS} = constants;
      const PLAY_STATE_ICONS = {
        [PLAY_STATES.PLAYING]: 'fa-pause',
        [PLAY_STATES.PAUSED]: 'fa-play',
        [PLAY_STATES.FINISHED]: 'fa-refresh',
      };

      class PlayPauseControl extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'playpause-control'; }

        static get properties() {
          return {
            state: Object,
            iconClass: String,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _analyticsManager: {
              type: Object,
              inject: 'AnalyticsManager',
            },
          };
        }

        static get observers() {
          return [
            '_playStateChanged(state.playState)',
          ];
        }

        _playStateChanged(playState) {
          let newIcon = PLAY_STATE_ICONS[playState];
          if(newIcon) {
            this.iconClass = newIcon;
          }
        }

        _handleClick() {
          this._analyticsManager.changeState('togglePlayPause', [], {verb: ANALYTICS_TOPICS.PLAY_PAUSE});
        }
      }

      window.customElements.define(PlayPauseControl.is, PlayPauseControl);
    });
  </script>

</dom-module>
