<link rel='import' href='../../../../polymer/polymer-element.html'>
<link rel='import' href='../styling/control-bar--style-module.html'>

<dom-module id='progress-bar'>
  <template>
    <style type="text/css" include="control-bar--style-module">
      :host {
        flex-basis: 100%;
      }
    </style>

    <div id="container__progress_bar" class="user_controls">
      <progress id="progress__bar" min='0' max='[[_toString(state.duration)]]' value='[[_toString(state.position)]]'></progress>
    </div>
  </template>

  <script>
    class ProgressBar extends Polymer.Element {
      static get is() { return 'progress-bar'; }

      static get properties() {
        return {
          state: {
            type: Object
          },
          stateManager: {
            type: Object
          }
        };
      }

      _toString(value) {
        return value.toString();
      }

      ready() {
        super.ready();

        // Add event listeners
        this.$.progress__bar.addEventListener('click', this._progressBarClicked.bind(this));
      }

      _progressBarClicked(e) {
        // get x-axies value of event location
        var x = e.pageX - this.offsetLeft;
        // calculate value that will be between 0 and the max value (duration of video) -> exact moment of video
        var clickedValue = x * this.$.progress__bar.max / this.$.progress__bar.offsetWidth;
        // check if still within borders
        var isClicked = clickedValue <= this.$.progress__bar.max;
        if(isClicked){
          this.stateManager.seek(clickedValue);
        }
      }
    }

    window.customElements.define(ProgressBar.is, ProgressBar);
  </script>

</dom-module>
