<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styling/control-bar--style-module.html">

<dom-module id="progress-bar">
  <template>
    <style type="text/css" include="control-bar--style-module">
      :host {
        flex-basis: 100%;
      }
    </style>

    <div id="container__progress_bar" class="user_controls">
      <progress id="progress__bar" min="0" max="[[_toString(state.duration)]]" value$="[[_toString(state.position)]]"></progress>
    </div>
  </template>

  <script>
    class ProgressBar extends Polymer.Element {
      static get is() { return 'progress-bar'; }

      static get properties() {
        return {
          state: Object,
          stateManager: Object,
        };
      }

      _toString(value) {
        if(typeof value === 'undefined') {
          return '';
        }

        return value.toString();
      }

      ready() {
        super.ready();

        // Add event listeners
        this.$.progress__bar.addEventListener('click', this._progressBarClicked.bind(this));
      }

      _progressBarClicked(e) {
        // Get x value by substracting offsetleft of progress-bar
        let x = e.pageX - this.$.progress__bar.offsetLeft;
        // Calculate value that will be between 0 and the max value (duration of video) -> exact moment of video
        let clickedValue = x * this.$.progress__bar.max / this.$.progress__bar.offsetWidth;
        // Check if still within borders
        let isClicked = clickedValue <= this.$.progress__bar.max;
        if(isClicked){
          this.stateManager.setPosition(clickedValue);
        }
      }
    }

    window.customElements.define(ProgressBar.is, ProgressBar);
  </script>

</dom-module>
