<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../constants.html">

<dom-module id="quality-switch">
  <template>
    <style type="text/css" include="control-bar--style-module">
    </style>

    <div id="container__quality_switch" class="user_controls">
      <a id="button__switch_quality" class="button" on-click="handleClick">
        [[getQualityName(state.quality)]]
      </a>
    </div>
  </template>

  <script>
    define('quality-switch', ['base-element', 'constants'], (BaseElement, constants) => {
      const {QUALITY_MODES} = constants;
      const QUALITY_NAMES = {
        [QUALITY_MODES.HLS]: 'Auto',
        [QUALITY_MODES.HD]: 'HD',
        [QUALITY_MODES.SD]: 'SD',
      };

      class QualitySwitch extends BaseElement {
        static get is() { return 'quality-switch'; }

        static get properties() {
          return {
            state: Object,
            stateManager: Object,
            availableQualities: Array,
          };
        }

        handleClick() {
          let currentIndex = this.availableQualities.indexOf(this.state.quality);
          let newIndex = (currentIndex + 1) % this.availableQualities.length;
          let newQuality = this.availableQualities[newIndex];

          this.stateManager.setQuality(newQuality);
        }

        getQualityName(quality) {
          return QUALITY_NAMES[quality];
        }
      }

      window.customElements.define(QualitySwitch.is, QualitySwitch);
    });
  </script>

</dom-module>
