<link rel='import' href='../../../../polymer/polymer-element.html'>
<link rel='import' href='../styling/control-bar--style-module.html'>

<dom-module id='selectionx-control'>
  <link rel='import' type='css' href='../../../../components-font-awesome/css/font-awesome.min.css'>

  <template>
    <style type='text/css' include="control-bar--style-module">
    </style>

    <div id="container__selectionx_control" class="user_controls">
        <select id="selectionx__selectionx_control" class="button">
            <!--[[_toFixed(state.playbackRate, 1)]]x-->
        </select>
    </div>
    </template>

  <script>
    class SelectionxControl extends Polymer.Element {
      static get is() { return 'selectionx-control'; }

      static get properties() {
        return {
          state: {
            type: Object
          },
          stateManager: {
            type: Object
          },
          value: { 
            type: Object
          },
          valueFormatString: {
            type: String,
            value: '#[value]#'
          },
          valueRange: {
            type: Object
          },
          changeHandler: {
            type: String
          }
        };
      }

      ready() {
        super.ready();
        // Add event listeners
        this.$.selectionx__selectionx_control.addEventListener('click', () => this.stateManager.switchPlaybackRate());
      }

      _initSelectionx() {
        
      }

      _toFixed(value, digits) {
        return value.toFixed(digits);
      }
    }

    window.customElements.define(SelectionxControl.is, SelectionxControl);
  </script>

</dom-module>
