<link rel='import' href='../../../bower_components/polymer/polymer-element.html'>
<link rel='import' href='../styling/control-bar--style-module.html'>

<dom-module id='sound-control'>
  <template>
    <style type="text/css" include="control-bar--style-module">
      :host {
        flex-basis: 5%;
        min-width: 60px;
      }
    </style>

    <div id="container__sound_control" class="user_controls">
      <progress id="progress__sound_control" min='0' max='1' value='[[_displayVolume(state.volume, state.muted)]]'></progress>
    </div>

  </template>

  <script>
    class SoundControl extends Polymer.Element {
      static get is() { return 'sound-control'; }

      static get properties() {
        return {
          state: {
            type: Object
          },
          stateManager: {
            type: Object
          }
        };
      }

      ready() {
        super.ready();
        // Add event listeners
        this.$.progress__sound_control.addEventListener('click', this._progressBarClicked.bind(this));
      }

      _progressBarClicked(e) {
        // get x-axies value of event location
        var x = e.pageX - this.$.progress__sound_control.offsetLeft;
        // calculate value that will be between 0 and max value of progress bar
        var clickedValue = x * this.$.progress__sound_control.max / this.$.progress__sound_control.offsetWidth;
        // check if still within borders
        var isClicked = clickedValue <= this.$.progress__sound_control.max;
        if(isClicked){
          this.stateManager.unmute();
          this.stateManager.setVolume(clickedValue);
        }
      }

      _displayVolume(volume, muted) {
        return muted ? '0' : volume.toString();
      }
    }

    window.customElements.define(SoundControl.is, SoundControl);
  </script>

</dom-module>
