<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/control-bar--style-module.html">
<link rel="import" href="../base-components/progress-bar.html">

<dom-module id="sound-control">
  <template>
    <style type="text/css" include="control-bar--style-module">
      :host {
        flex-basis: 5%;
        min-width: 60px;
      }
    </style>

    <div id="container__sound_control" class="user_controls">
      <progress-bar
        id="progress__sound_control"
        value$="[[toStringOrEmpty(effectiveVolume)]]"
        on-change="handleChange"
        border>
      </progress-bar>
    </div>

  </template>

  <script>
    define('sound-control', ['binding-helpers', 'ioc-requester'], (BindingHelpersMixin, IocRequesterMixin) => {
      class SoundControl extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'sound-control'; }

        static get properties() {
          return {
            state: Object,
            stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            effectiveVolume: {
              type: Number,
              computed: '_effectiveVolume(state.volume, state.muted)',
            },
          };
        }

        handleChange(e) {
          this.stateManager.unmute();
          this.stateManager.setVolume(e.target.value);
        }

        _effectiveVolume(volume, muted) {
          if(typeof volume === 'undefined') {
            return '';
          }

          return muted ? 0 : volume;
        }
      }

      window.customElements.define(SoundControl.is, SoundControl);
    });
  </script>

</dom-module>
