<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../styling/control-bar--style-module.html">

<dom-module id="speed-control">
  <link rel="import" type="css" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">

  <template>
    <style type="text/css" include="control-bar--style-module">
    </style>

    <div id="container__speed_control" class="user_controls">
        <a id="button__speed_control" class="button">
            [[_toFixed(state.playbackRate, 1)]]x
        </a>
    </div>
    </template>

  <script>
    class SpeedControl extends Polymer.Element {
      static get is() { return 'speed-control'; }

      static get properties() {
        return {
          state: Object,
          stateManager: Object,
        };
      }

      ready() {
        super.ready();
        // Add event listeners
        this.$.button__speed_control.addEventListener('click', () => this.stateManager.switchPlaybackRate());
      }

      _toFixed(value, digits) {
        return value.toFixed(digits);
      }
    }

    window.customElements.define(SpeedControl.is, SpeedControl);
  </script>

</dom-module>
