<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/control-bar--style-module.html">
<link rel="import" href="../base-components/select-control.html">

<dom-module id="speed-control">

  <template>
    <style type="text/css" include="control-bar--style-module">
    </style>

    <div id="container__speed_control">
      <select-control
        values="[[playbackRates]]"
        selected-value="[[state.playbackRate]]"
        formatter="[[formatPlaybackRate]]"
        on-change="selectionChanged"
        icon-classes="fa fa-tachometer">
      </select-control>
    </div>
    </template>

  <script>
    define('speed-control', ['binding-helpers', 'ioc-requester', 'constants'], (BindingHelpersMixin, IocRequesterMixin, constants) => {
      const {PLAYBACK_RATES} = constants;

      class SpeedControl extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'speed-control'; }

        static get properties() {
          return {
            state: Object,
            stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            playbackRates: {
              type: Array,
              readOnly: true,
              value: PLAYBACK_RATES,
            },
          };
        }

        formatPlaybackRate(playbackRate) {
          return this.toFixedOrEmpty(playbackRate, 1) + 'x';
        }

        selectionChanged(e) {
          this.stateManager.setPlaybackRate(e.target.selectedValue);
        }
      }

      window.customElements.define(SpeedControl.is, SpeedControl);
    });
  </script>

</dom-module>
