<link rel='import' href='../../../../polymer/polymer-element.html'>
<link rel='import' href='../../3rd-imports/mobx.html'>
<link rel='import' href='progress-bar.html'>
<link rel='import' href='playpause-control.html'>
<link rel='import' href='sound-control.html'>
<link rel='import' href='videotime-display.html'>
<link rel="import" href="speed-control.html">
<link rel="import" href="chapters-overview-control.html">
<link rel='import' href='mute-control.html'>
<link rel='import' href='full-screen-control.html'>

<dom-module id='user-controls'>
  <template>
    <style type="text/css">
      #container__user_controls {
        display: flex;
        align-items: stretch;
      }
    </style>

    <div id="container__user_controls">
      <playpause-control state-manager='{{stateManager}}'></playpause-control>
      <progress-bar state-manager='{{stateManager}}'></progress-bar>
      <videotime-display state-manager='{{stateManager}}'></videotime-display>
      <speed-control state-manager='{{stateManager}}'></speed-control>
      <chapters-overview-control state-manager='{{stateManager}}'></chapters-overview-control>
      <mute-control state-manager='{{stateManager}}'></mute-control>
      <sound-control state-manager='{{stateManager}}'></sound-control>
      <full-screen-control state-manager='{{stateManager}}'></full-screen-control>
    </div>
  </template>

  <script>
    (function() {
      const {reaction} = mobx;

      class UserControls extends Polymer.Element {
        static get is() { return 'user-controls'; }

        static get properties() {
          return {
            stateManager: {
              type: Object
            }
          };
        }

        ready() {
          super.ready();

          // Self is necessary so that variables can be accessed from inside other
          // contexts as well, like the keyboard interaction function
          let self = this;

          // Add keyboard interaction
          window.addEventListener('keydown', function(event){
            let key = event.keyCode ? event.keyCode : event.which;

            // 39 = user pressed right arrow key
            if(key === 39) {
              self.stateManager.seek(self.stateManager.position + 15);
            // 37 = user pressed left arrow key
            } else if (key === 37) {
              self.stateManager.seek(self.stateManager.position - 15);
            // 32 = user pressed space
            } else if (key === 32) {
              self.stateManager.togglePlayPause();
            // 70 = user pressed the 'f' button
            } else if (key === 70) {
              self.stateManager.toggleFullScreen(true);
            } else {
              return;
            }

            // Make sure the user doesn't trigger anything else with their
            // keyboard interaction, like scrolling the page
            event.preventDefault();
          },
          // This 'true' value makes sure that this listener will work even if 
          // other listeners invoke event.preventDefault()
          true);
        }
      }

      window.customElements.define(UserControls.is, UserControls);
    })();
  </script>

</dom-module>
