<link rel='import' href='../../../../polymer/polymer-element.html'>
<link rel='import' href='progress-bar.html'>
<link rel='import' href='playpause-control.html'>
<link rel='import' href='sound-control.html'>
<link rel='import' href='videotime-display.html'>
<link rel="import" href="speed-control.html">
<link rel='import' href='mute-control.html'>
<link rel='import' href='full-screen-control.html'>

<dom-module id='user-controls'>
  <template>
    <style type="text/css">
      #container__user_controls {
        display: flex;
        align-items: stretch;
      }
    </style>

    <div id="container__user_controls">
      <playpause-control state='{{state}}' state-manager='{{stateManager}}'></playpause-control>
      <progress-bar state='{{state}}' state-manager='{{stateManager}}'></progress-bar>
      <videotime-display state='{{state}}' state-manager='{{stateManager}}'></videotime-display>
      <speed-control state='{{state}}' state-manager='{{stateManager}}'></speed-control>
      <mute-control state='{{state}}' state-manager='{{stateManager}}'></mute-control>
      <sound-control state='{{state}}' state-manager='{{stateManager}}'></sound-control>
      <full-screen-control state='{{state}}' state-manager='{{stateManager}}'></full-screen-control>
    </div>
  </template>

  <script>
    class UserControls extends Polymer.Element {
      static get is() { return 'user-controls'; }

      static get properties() {
        return {
          state: {
            type: Object
          },
          stateManager: {
            type: Object
          }
        };
      }

      ready() {
        super.ready();

        window.addEventListener('keydown', this._onkeydown.bind(this));
      }

      _onkeydown(e) {
        let key = e.keyCode ? e.keyCode : e.which;

        // 39 = user pressed right arrow key
        if(key === 39) {
          this.stateManager.seek(this.stateManager.position + 15);
        // 37 = user pressed left arrow key
        } else if (key === 37) {
          this.stateManager.seek(this.stateManager.position - 15);
        // 32 = user pressed space
        } else if (key === 32) {
          this.stateManager.togglePlayPause();
        // 70 = user pressed the 'f' button
        } else if (key === 70) {
          this.stateManager.toggleFullScreen(true);
        } else {
          return;
        }

        // Make sure the user doesn't trigger anything else with their
        // keyboard interaction, like scrolling the page
        e.preventDefault();
      }
    }

    window.customElements.define(UserControls.is, UserControls);
  </script>

</dom-module>
