<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/overlay--style-module.html">
<link rel="import" href="../../styling/global--style-module.html">

<dom-module id="captions-display">
  <template>
    <style type="text/css" include="overlay--style-module">
      #container__captions {
        visibility: visible;
        position: absolute;
        bottom: 5px;
        width: calc(100% - 40px);
        margin: 0 20px;
        text-align: center;
        color: white;
        z-index: 3;
      }
      .caption-cue-text {
        /* display:table; is necessary so the inner element (.caption-cue-text)
           does not take up the full available width. */
        display: table;
        margin: 0 auto;
        padding: 3px 10px;
        background-color: rgba(0,0,0,0.7);
        border-radius: 5px;
      }
    </style>

    <div id="container__captions" class$="[[ifNotThen(_isVisible, '-hidden')]]">
      <div class="caption-cue-text">[[_activeCue.text]]</div>
    </div>
  </template>

  <script>
    define('captions-display', ['binding-helpers', 'ioc-requester'], (BindingHelpersMixin, IocRequesterMixin) => {

      class CaptionsDisplay extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'captions-display'; }

        static get properties() {
          return {
            state: Object,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _activeCue: {
              type: Object,
              computed: '_getActiveCue(state.activeCaptions, state.position)',
            },
            _isVisible: {
              type: Boolean,
              computed: '_getIsVisible(state.captionLanguage)',
            },
          };
        }

        _getActiveCue(activeCaptions, position) {
          if(activeCaptions) {
            return activeCaptions.slice()
                                 .reverse()
                                 .find(cue => cue.startTime <= position);
          }
        }

        _getIsVisible(captionLanguage) {
          return captionLanguage !== 'off';
        }
      }

      window.customElements.define(CaptionsDisplay.is, CaptionsDisplay);
    });
  </script>

</dom-module>
