<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/overlay--style-module.html">
<link rel="import" href="../../styling/global--style-module.html">

<dom-module id="captions-display">
  <template>
    <style type="text/css" include="overlay--style-module">
      #container__captions {
        visibility: visible;
        position: absolute;
        bottom: 5px;
        width: calc(100% - 40px);
        margin: 0 20px;
        text-align: center;
        color: white;
        z-index: 3;
      }
      .caption-cue-text {
        /* display:table; is necessary so the inner element (.caption-cue-text)
           does not take up the full available width. */
        display: table;
        margin: 0 auto;
        padding: 3px 10px;
        background-color: rgba(0,0,0,0.7);
        border-radius: 5px;
        font-size: 18px;
      }

      @media (max-width: 769px) {
        .caption-cue-text {
          font-size: 12px;
        }
      }
    </style>

    <div id="container__captions" class$="[[ifNotThen(state.isCaptionShown, '-hidden')]]">
      <div class="caption-cue-text">[[activeCue.text]]</div>
    </div>
  </template>

  <script>
    define('captions-display', ['binding-helpers', 'ioc-requester', 'constants'], (BindingHelpersMixin, IocRequesterMixin, constants) => {
      const {ANALYTICS_TOPICS} = constants;

      class CaptionsDisplay extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'captions-display'; }

        static get properties() {
          return {
            state: Object,
            _analyticsManager: {
              type: Object,
              inject: 'AnalyticsManager',
            },
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            activeCue: {
              type: Object,
            },
          };
        }
        static get observers() {
          return [
            '_getActiveCue(state.position)',
            '_cueChanged(activeCue)',
          ];
        }

        _getActiveCue(position) {
          if(this.state.activeCaptions) {
            let newCue = this.state.activeCaptions.slice()
                                 .reverse()
                                 .find(cue => cue.startTime <= position);
            if (!Object.is(this.activeCue, newCue)) {
              this.activeCue = newCue;
            }
          }
        }

        _cueChanged(activeCue) {
          let identifier = this._analyticsManager._getCueIdentifier(activeCue);
          this._analyticsManager.newEvent({verb: ANALYTICS_TOPICS.VIDEO_SUBTITLE_CHANGE}, {
            current_subtitle_identifier: identifier,
            current_subtitle_language: this.state.captionLanguage
          });
        }
      }

      window.customElements.define(CaptionsDisplay.is, CaptionsDisplay);
    });
  </script>

</dom-module>
