<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/overlay--style-module.html">

<dom-module id="nextvideo-overlay">
  <link rel="import" type="css" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">
  <template>
    <style type="text/css" include="overlay--style-module">
      #container__nextvideo_overlay {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.85);
        color: white;
      }

      .container__spinner {
        position: relative;
      }
      .container__spinner #timer {
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 3px);
      }

      #icon_spinner {
        opacity: 0.9;
        font-size: 6vw;
        @apply --accent-color-foreground;

        animation-name: spin;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      #text__next_video {
        font-size: 20px;
      }

      #button__disable_next_video {
        margin-top: 10px;
        text-decoration: none;
        color: white;
      } 

      @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
      }
      @-moz-keyframes spin {
          from { -moz-transform: rotate(0deg); }
          to { -moz-transform: rotate(360deg); }
      }
      @-webkit-keyframes spin {
          from { -webkit-transform: rotate(0deg); }
          to { -webkit-transform: rotate(360deg); }
      }
      @keyframes spin {
          from { transform:rotate(0deg); }
          to { transform:rotate(360deg); }
      }

      @media (max-width: 768px) {
        #text__next_video {
          font-size: 15px;
        }
        #icon_spinner {
          font-size: 50px;
        }
      }
    </style>

    <div id="container__nextvideo_overlay" class="overlay" style$="visibility: [[ifThenElse(_isVisible, 'visible', 'hidden')]];">
      <p id="text__next_video">Nächstes Video</p> 
      <div class="container__spinner">
        <i id="icon_spinner" class="fa fa-spinner" aria-hidden="true"></i>
        <span id="timer">[[_secondsToNextVideo]]</span>
      </div>
      <a id="button__disable_next_video" class="button" on-click="_handleClick" href="javascript:void(0)">Abbrechen</a>
    </div>
  </template>

  <script>
    define('nextvideo-overlay', ['binding-helpers', 'ioc-requester', 'constants'], (BindingHelpersMixin, IocRequesterMixin, constants) => {
      const {PLAY_STATES, SECONDS_TO_NEXT_VIDEO} = constants;

      class NextvideoOverlay extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'nextvideo-overlay'; }

        static get properties() {
          return {
            playList: Object,
            state: Object,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _isVisible: {
              type: Boolean,
              computed: '_getIsVisible(state.playState, _isAutoPlayEnabled)',
            },
            _isAutoPlayEnabled: {
              type: Boolean,
              value: true,
            },
            _secondsToNextVideo: Number,
            _timer: {
              type: Object,
            }, 
          };
        }  

        static get observers() {
          return [
            '_playStateChanged(state.playState)',
            '_positionChanged(state.position, state.duration)',
          ];
        }   

        ready() {
          super.ready();

          // Add event listener for keyboard shortcuts
          window.addEventListener('keydown', (e) => {
            if (e.defaultPrevented) {
              // Do nothing if the event was already processed
              return;
            }

            if (e.keyCode === 27) {
              this._abortAutoPlayNext();
            } else {
              return;
            }

            // Make sure the user doesn't trigger anything else with their
            // keyboard interaction, like scrolling the page
            e.preventDefault();
          });
        }

        _getIsVisible(playState, isAutoPlayEnabled) {
            return playState === PLAY_STATES.FINISHED && isAutoPlayEnabled;
        }

        _handleClick(){
          this._isAutoPlayEnabled = false;
          this._abortAutoPlayNext();
        } 

        _playStateChanged(playState) {
          // when video has finished and video is part of playlist
          // start next video after X seconds
          if (playState === PLAY_STATES.FINISHED) {
            if(this.playList.nextVideo){
              if(!this._timer) {
                this._secondsToNextVideo = SECONDS_TO_NEXT_VIDEO;
                this._timer = setInterval( this._timerFunction.bind(this), 1000); 
              }
            }
          } else if(playState === PLAY_STATES.PLAYING) {
            this._abortAutoPlayNext();
          }
        }

        _positionChanged(position, duration) {
          if(position !== duration) {
            this._abortAutoPlayNext();
          }
        }
         
        /**
         * reduce secondsToNextVideo and load next video when threshold value is reached
         */
        _timerFunction(){
          if( this._secondsToNextVideo > 1) {
            // decrease timer
            this._secondsToNextVideo = this._secondsToNextVideo - 1;
          } else {
            window.open(this.playList.nextVideo,"_self");
          }
        }

        // Abort the timer
        // The next video of the playlist is thus not automatically loaded
        _abortAutoPlayNext() {
          if(this._timer) {
            clearInterval(this._timer);
            this._timer = null;
          }
        }

      }

      window.customElements.define(NextvideoOverlay.is, NextvideoOverlay);
    });
  </script>

</dom-module>
