<link rel="import" href="../../3rd-imports/scoped-imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../mixins/ioc-requester.html">
<link rel="import" href="../../styling/overlay--style-module.html">

<dom-module id="waiting-overlay">
  <template>
    <style type="text/css" include="overlay--style-module font-awesome">
      #container__waiting_overlay {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #icon_spinner {
        opacity: 0.9;
        font-size: 6vw;
        @apply --set-accent-color-foreground;

        animation-name: spin;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
      }
      @-moz-keyframes spin {
          from { -moz-transform: rotate(0deg); }
          to { -moz-transform: rotate(360deg); }
      }
      @-webkit-keyframes spin {
          from { -webkit-transform: rotate(0deg); }
          to { -webkit-transform: rotate(360deg); }
      }
      @keyframes spin {
          from { transform:rotate(0deg); }
          to { transform:rotate(360deg); }
      }
    </style>

    <div id="container__waiting_overlay" class="overlay" style$="visibility: [[ifThenElse(_isVisible, 'visible', 'hidden')]];">
      <i id="icon_spinner" class="fa fa-spinner" aria-hidden="true"></i>
    </div>
  </template>

  <script>
    IMD.define('waiting-overlay', ['binding-helpers', 'ioc-requester', 'constants'], (BindingHelpersMixin, IocRequesterMixin, constants) => {
      const {PLAY_STATES} = constants;

      class WaitingOverlay extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'waiting-overlay'; }

        static get properties() {
          return {
            state: Object,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            _isVisible: {
              type: Boolean,
              computed: '_getIsVisible(state.playState)',
            },
          };
        }

        _getIsVisible(playState) {
          return playState === PLAY_STATES.WAITING;
        }
      }

      window.customElements.define(WaitingOverlay.is, WaitingOverlay);
    });
  </script>

</dom-module>
