<link rel='import' href='../../polymer/polymer-element.html'>
<link rel='import' href='../3rd/mobx.html'>
<link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">

<dom-module id='mute-control'>
  <template>
  
    <style type="text/css">
    </style>

    <button id='btn__Mute'></button>
    </template>

  <script>
    (function() {
      const {reaction} = mobx;

      class MuteControl extends Polymer.Element {
        static get is() { return 'mute-control'; }

        static get properties() {
          return {
            stateManager: {
              type: Object,
              observer: '_updateStateBindings'
            }
          };
        }

        ready() {
          super.ready();
          // initial loading of icon
          this.$.btn__Mute.innerHTML = this.stateManager.muted == true ? '<i class="fa fa-volume-off">' : '<i class="fa fa-volume-up">';
          // Add event listeners
          this.$.btn__Mute.addEventListener('click', () => this.stateManager.toggleMute());
        }

        // functions that are called when the state of the stateManagers properties change
        _updateStateBindings() {
          // Dispose old reactions
          if(this.reactionDisposers) {
            this.reactionDisposers.forEach(disposer => disposer());
          }
          // Register new reactions
          this.reactionDisposers = [
            reaction(() => this.stateManager.muted, this._mutedChanged.bind(this))
          ];
        }

        _mutedChanged(muted) {
          this.$.btn__Mute.innerHTML = muted == true ? '<i class="fa fa-volume-off">' : '<i class="fa fa-volume-up">';
        }
      }

      window.customElements.define(MuteControl.is, MuteControl);
    })();
  </script>

</dom-module>
