<link rel='import' href='../../polymer/polymer-element.html'>
<link rel='import' href='../3rd/mobx.html'>
<link rel='import' href='playpause-control.html'>
<link rel='import' href='videotime-display.html'>

<dom-module id='user-controls'>

  <template>
    <progress-bar state-manager='{{stateManager}}'></progress-bar>
    <playpause-control state-manager='{{stateManager}}'></playpause-control>
    <videotime-display state-manager='{{stateManager}}'></videotime-display>
  </template>

  <script>
    (function() {
      const {reaction} = mobx;

      class UserControls extends Polymer.Element {
        static get is() { return 'user-controls'; }

        static get properties() {
          return {
            stateManager: {
              type: Object
            }
          };
        }

        ready() {
          super.ready();

        }
      }

      window.customElements.define(UserControls.is, UserControls);
    })();
  </script>

</dom-module>
