<link rel='import' href='../../polymer/polymer-element.html'>
<link rel='import' href='../3rd/mobx.html'>

<dom-module id='user-controls'>

  <template>
    <button id='btnPlayPause'>Play</button>
    <button id='btnFastRewind'><<</button>
    <button id='btnFastForward'>>></button>
    <span id='spanCurrentTime'>{{currentTime}}</span>
  </template>

  <script>
    (function() {
      const {reaction} = mobx;

      class UserControls extends Polymer.Element {
        static get is() { return 'user-controls'; }

        static get properties() {
          return {
            stateManager: {
              type: Object,
              observer: '_updateStateBindings'
            },
            currentTime: {
                type: String,
                value: '0'
            }
          };
        }

        ready() {
          super.ready();

          // Self is necessary so that variables can be accessed from inside other
          // contexts as well, like the keyboard interaction function
          var self = this;

          // Add event listeners
          this.$.btnPlayPause.addEventListener('click', () => this.stateManager.togglePlayPause());
          this.$.btnFastRewind.addEventListener('click', () => this.stateManager.seek(this.stateManager.position - 15));
          this.$.btnFastForward.addEventListener('click', () => this.stateManager.seek(this.stateManager.position + 15));

          // Add keyboard interaction
          window.onkeydown = function(e) {
            // Make sure the user doesn't trigger anything else with their 
            // keyboard interaction, like scrolling the page
            e.preventDefault();

            var key = e.keyCode ? e.keyCode : e.which;


            // 39 = user pressed right arrow key
            if(key === 39) {
              self.stateManager.seek(self.stateManager.position + 15);
            // 37 = user pressed left arrow key
            } else if (key === 37) {
              self.stateManager.seek(self.stateManager.position - 15);
            // 32 = user pressed space
            } else if (key === 32) {
              self.stateManager.togglePlayPause();
            }
          }
        }

        _updateStateBindings() {
          // Dispose old reactions
          if(this.reactionDisposers)
            this.reactionDisposers.forEach(disposer => disposer());

          // Register new reactions
          this.reactionDisposers = [
            reaction(() => this.stateManager.playState, this._playStateChanged.bind(this)),
            reaction(() => this.stateManager.position, this._positionChanged.bind(this))
          ];
        }

        _playStateChanged(playState) {
          this.$.btnPlayPause.innerHTML = playState == 'PLAYING' ? 'Pause' : 'Play';
        }

        _positionChanged(position) {
          this.currentTime = position.toFixed(0);
        }
      }

      window.customElements.define(UserControls.is, UserControls);
    })();
  </script>

</dom-module>
