<link rel='import' href='../../polymer/polymer-element.html'>
<link rel='import' href='../3rd/mobx.html'>

<dom-module id='video-stream'>

  <template>
    <video id='video' src$='[[url]]' preload="auto"></video>
  </template>

  <script>
    (function() {
      const {reaction} = mobx;

      class VideoStream extends Polymer.Element {
        static get is() { return 'video-stream'; }

        static get properties() {
          return {
            url: {
              type: String
            },
            master: {
              type: Boolean,
              value: true
            },
            stateManager: {
              type: Object,
              observer: '_updateStateBindings'
            }
          };
        }

        ready() {
          super.ready();
          // Add event listeners
          this.$.video.addEventListener('timeupdate', () => {
            if(this.master) {
              this.stateManager.position = this.$.video.currentTime;
            }
          });
          // load metadata for extraction of the video's duration
          this.$.video.addEventListener('loadedmetadata', () => {
            if(this.master) {
              this.stateManager.duration = this.$.video.duration;
            }
          });
        }

        // functions that are called when the state of the stateManagers properties change
        _updateStateBindings() {
          // Dispose old reactions
          if(this.reactionDisposers) {
            this.reactionDisposers.forEach(disposer => disposer());
          }
          // Register new reactions
          this.reactionDisposers = [
            reaction(() => this.stateManager.playState, this._playStateChanged.bind(this)),
            reaction(() => this.stateManager.position, this._positionChanged.bind(this)),
            reaction(() => this.stateManager.playbackRate, this._playbackRateChanged.bind(this)),
            reaction(() => this.stateManager.volume, this._volumeChanged.bind(this)),
            reaction(() => this.stateManager.muted, this._mutedChanged.bind(this))
          ];
        }

        _playStateChanged(playState) {
          if (playState == 'PLAYING')
            this.$.video.play();
          else
            this.$.video.pause();
        }

        _positionChanged(position) {
          if( Math.abs(this.$.video.currentTime - position) > 1 ) {
            this.$.video.currentTime = position;
          }
        }

        _playbackRateChanged(playbackRate) {
          this.$.video.playbackRate = playbackRate;
        }

        _volumeChanged(volume) {
          this.$.video.volume = volume / 100;
        }

        _mutedChanged(muted) {
          this.$.video.muted = muted;
        }
      }

      window.customElements.define(VideoStream.is, VideoStream);
    })();
  </script>

</dom-module>
