<link rel='import' href='../../../../polymer/polymer-element.html'>

<dom-module id='playlist-element'>
  <template>

    <style type="text/css">
    </style>

    <div id="test">
      <div>[[video.title]]</div>
      <div>[[video.lecturer]]</div>
      <div>[[video.url]]</div>
      <div><img src='[[video.thumbnailUrl]]'></div>
      <div>[[video.date]]</div>
      <div>[[video.language]]</div>
      <div>[[_secondsToHms(video.duration)]]</div>          
    </div>
    
  </template>

  <script>
    class PlaylistElement extends Polymer.Element {
      static get is() { return 'playlist-element'; }

      static get properties() {
        return {
          video: {
            type: Object
          },
          currentVideo: {
            type: Boolean

          }
        };
      }

      ready() {
        super.ready();

        if(this.currentVideo){
          // do sth if you want to highlight the current Video of the playlist
        }
      }

      _secondsToHms(position) {
        var seconds   = Number(position);
        var hours     = Math.floor(seconds / 3600);
        var minutes   = Math.floor(seconds % 3600 / 60);
        var seconds2  = Math.floor(seconds % 3600 % 60);

        if(hours < 10){hours = "0" + hours;}
        if(minutes < 10){minutes = "0" + minutes;}
        if(seconds2 < 10){seconds2 = "0" + seconds2;}

        return hours + ":" + minutes + ":" + seconds2;
      }
    }

    window.customElements.define(PlaylistElement.is, PlaylistElement);
  </script>
</dom-module>
