<link rel="import" href="../../bower_components/imd/imd.html">
<link rel="import" href="../../node_modules/polymer-font-awesome/dist/font-awesome.html">

<link rel="import" href="../mixins/binding-helpers.html">
<link rel="import" href="../mixins/ioc-requester.html">
<link rel="import" href="../styling/lists--style-module.html">

<dom-module id="chapter-list">
  <template>
    <style type="text/css" include="lists--style-module font-awesome">
      #container__chapter_list {
        position: absolute;
        top: 0;
        right: 0;
        border: 3px solid black;
        @apply --set-foreground-color;
      }
      #container__chapter_list .list {
        max-width: 250px;
        max-height: 220px;
      }
      #container__chapter_list .list_item {
        @apply --set-background-color;
      }
      #container__chapter_list .list_item .list_item__link {
        @apply --set-foreground-color;
      }
      #container__chapter_list li:nth-child(odd) {
        @apply --set-secondary-background-color;
      }
    </style>

    <div id="container__chapter_list" class="container__list">
      <ul class="list">
          <template is="dom-repeat" items="[[chapters]]">
            <li class="list_item">
              <a class$="link__chapter_bookmark list_item__link [[ifEqualsThen(item, activeChapter, 'active fa-caret-right')]]" on-click="_handleClick" href="javascript:void(0)">
                [[item.title]]
              </a>
            </li>
          </template>
      </ul>
    </div>
  </template>

  <script>
    define('chapter-list', ['binding-helpers', 'ioc-requester'], (BindingHelpersMixin, IocRequesterMixin) => {
      class ChapterList extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'chapter-list'; }

        static get properties() {
          return {
            state: Object,
            chapters: Array,
            _stateManager: {
              type: Object,
              inject: 'StateManager',
            },
            activeChapter: {
              type: Object,
              computed: '_getActiveChapter(chapters, state.position)',
            },
          };
        }

        _getActiveChapter(chapters, position) {
          if(chapters){
            return chapters.slice()
                          .reverse()
                          .find(chapter => chapter.startPosition <= position);
          }
        }

        _handleClick(e) {
          this._stateManager.setPosition(e.model.item.startPosition);
        }
      }

      window.customElements.define(ChapterList.is, ChapterList);
    });
  </script>

</dom-module>
