<link rel='import' href='../../../polymer/polymer-element.html'>
<link rel='import' href='../3rd-imports/mobx.html'>

<dom-module id='progress-bar'>
  <template>
    <style type="text/css">
      progress[value] {

        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        display: block;
        margin: 0px;
        height: 10px;
        width: 100%;
        border: none;
      }
    </style>
    <div>
      <progress id="progress__Bar" min='0' max='{{maxValue}}' value='{{currentTime}}'></progress>
    </div>
  </template>

  <script>
    (function() {

      const {reaction} = mobx;

      class ProgressBar extends Polymer.Element {
        static get is() { return 'progress-bar'; }

        static get properties() {
          return {
            stateManager: {
              type: Object,
              observer: '_updateStateBindings'
            },
            currentTime: {
              value: '0',
              type: String
            },
            maxValue: {
              type: String
            }
          };
        }

        ready() {
          super.ready();
          // Add event listeners
          this.$.progress__Bar.addEventListener('click', e => this._progressBarClickListener(e));
        }

        _progressBarClickListener(e) {
          // get x-axies value of event location
          var x = e.pageX - this.offsetLeft;
          // calculate value that will be between 0 and the max value (duration of video) -> exact moment of video
          var clickedValue = x * this.$.progress__Bar.max / this.$.progress__Bar.offsetWidth;
          // check if still within borders
          var isClicked = clickedValue <= this.$.progress__Bar.max;
          if(isClicked){
            this.stateManager.seek(clickedValue);
          }
        }

        // functions that are called when the state of the stateManagers properties change
        _updateStateBindings() {
          // Dispose old reactions
          if(this.reactionDisposers) {
            this.reactionDisposers.forEach(disposer => disposer());
          }
          // Register new reactions
          this.reactionDisposers = [
            reaction(() => this.stateManager.position, this._positionChanged.bind(this)),
            reaction(() => this.stateManager.duration, this._durationChanged.bind(this))
          ];
        }

        // reaction when
        _positionChanged(position) {
          this.currentTime = position.toFixed(0);
        }

        // reaction when the video's durration in the stateManager changes (after loading the metadata)
        _durationChanged(duration) {
          this.maxValue = duration;
        }
      }

      window.customElements.define(ProgressBar.is, ProgressBar);
    })();
  </script>

</dom-module>
