<link rel='import' href='../../../../polymer/polymer-element.html'>

<dom-module id='resizer-control'>
  <link rel='import' type='css' href='../../../components-font-awesome/css/font-awesome.min.css'>

  <template>
    <style type="text/css">
      :host {
        z-index: 2;
        visibility: hidden;
      }
      #container__resizer_control {
        height: 100%;
        overflow: hidden;
      }
      #resizer {
        border: 2px solid black;
        cursor: ew-resize;
        height: inherit;
      }
    </style>

    <div id="container__resizer_control">
      <div id="resizer" draggable="true">
      </div>
    </div>
  </template>

  <script>
    class ResizerControl extends Polymer.Element {
      static get is() { return 'resizer-control'; }

      static get properties() {
        return {
          globalFlexBasisGap: {
            type: Array,
            value: [0, 0]
          }
        };
      }

      ready() {
        super.ready();

        // Add event listeners
        this.$.resizer.addEventListener('dragstart', this._handleDragStart.bind(this));
        this.$.resizer.addEventListener('drag', this._resizeVideos.bind(this));
        this.$.resizer.addEventListener('dragend', this._handleDragEnd.bind(this));
      }

      _handleDragStart(e) {
        // Neccessary for FF to handle Drag'n'Drop
        e.dataTransfer.setData('text', '');
        var dragImage = this.cloneNode(true);
        dragImage.style.visibility = "hidden";
        document.body.appendChild(dragImage);
        e.dataTransfer.setDragImage(dragImage, 0, 0);
      }

      _handleDragEnd(e) {
        document.body.removeChild(document.body.lastChild);
      }

      _resizeVideos(e) {
        // TODO: Change this
        var video1 = document.getElementsByTagName('video-player')[0].shadowRoot.querySelector('#streams-container').children[0];
        var video2 = document.getElementsByTagName('video-player')[0].shadowRoot.querySelector('#streams-container').children[3];
        var videos = [video1, video2];

        var direction = this._getMouseDirection(e);
        var defaultWidth = this.parentElement.offsetWidth * 0.49;

        // The flex-basis must be kept between 1 and 49 (in absolute values). Otherwise the styling will break.
        if(direction === "left") {
          if(this.globalFlexBasisGap[1] < 0) {
            this._changeFlexBasis(videos[1], 10, this.globalFlexBasisGap[1], 1)
          }
          else if(this.globalFlexBasisGap[0] <= 0 && this.globalFlexBasisGap[0] > - defaultWidth){
            this._changeFlexBasis(videos[0], -10, this.globalFlexBasisGap[0], 0)
          }
        }
        else if(direction === "right") {
          if(this.globalFlexBasisGap[0] < 0) {
            this._changeFlexBasis(videos[0], 10, this.globalFlexBasisGap[0], 0)
          }
          else if(this.globalFlexBasisGap[1] <= 0 && this.globalFlexBasisGap[1] > - defaultWidth) {
            this._changeFlexBasis(videos[1], -10, this.globalFlexBasisGap[1], 1)
          }
        }
      }

      _getMouseDirection(e) {
        var direction = "";
        var resizerPositionX =  (e.originalTarget || e.srcElement).offsetLeft;

        // The 5 pixels are neccessary to avoid a flickering when the cursor does not exactly match the position of the element.
        if (e.pageX < resizerPositionX - 5) {
            direction = "left";
        } else if (e.pageX > resizerPositionX + 5) {
            direction = "right";
        }
        return direction;
      }

      _changeFlexBasis(video, factor, oldValue, index) {
        var newValue = oldValue + factor;
        this.globalFlexBasisGap[index] = newValue;

        video.style.flexBasis = "calc(49% + " + newValue + "px";
      }
    }

    window.customElements.define(ResizerControl.is, ResizerControl);
  </script>

</dom-module>
