<link rel="import" href="../../bower_components/imd/imd.html">

<link rel="import" href="../constants.html">
<link rel="import" href="../3rd-imports/hls-js.html">
<link rel="import" href="../mixins/binding-helpers.html">
<link rel="import" href="../mixins/ioc-requester.html">
<link rel="import" href="../styling/global--style-module.html">


<dom-module id="video-stream">
  <template>
    <style type="text/css" include="global--style-module">
      #container__video_stream {
        position: relative;
        width: 100%;
        height: 100%;
      }
      video {
        width: inherit;
        height: inherit;
      }
      /* For all browsers, ::cue is sufficient to hide the caption, only Safari
         needs ::-webkit-media-text-track-container */
      ::cue, ::-webkit-media-text-track-container {
        visibility: hidden;
      }

      #container__poster_overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      #image__poster {
        width: 100%;
        height: 100%;
      }
    </style>

    <div id="container__video_stream">
      <video
        id="video"
        preload="[[ifThenElse(preload, 'auto', 'metadata')]]"
        on-click="_handleClick"
        on-canplay="handleCanPlay"
        on-playing="_handlePlaying"
        on-ended="_handleEnded"
        on-loadedmetadata="_handleLoadedMetadata"
        on-timeupdate="_handleTimeUpdate">
        <template is="dom-repeat" items="{{captions}}">
          <track src="[[item.source]]" kind="subtitles" srclang="[[item.language]]" label="English" on-load="_handleTrackLoaded">
        </template>
      </video>
      <template is="dom-if" if="{{and(urls.poster, _isPosterVisible)}}">
        <div id="container__poster_overlay">
          <img id="image__poster" src="[[urls.poster]]" alt="Poster" on-click="_handleClick" />
        </div>
      </template>
    </div>
  </template>

  <script>
    define('video-stream', ['binding-helpers', 'ioc-requester', 'hls-js', 'constants'], (BindingHelpersMixin, IocRequesterMixin, Hls, constants) => {
      const {PLAY_STATES, QUALITY_MODES, HLS_MIME_TYPE, SYNC_DIFF_THRESHOLD} = constants;

      class VideoStream extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'video-stream'; }

        static get properties() {
          return {
            state: Object,
            urls: Object,
            captions: Array,
            master: {
              type: Boolean,
              value: true,
            },
            preload: {
              type: Boolean,
              value: true,
            },
            _stateManager: {
              typeof: Object,
              inject: 'StateManager',
            },
            _synchronizationManager: {
              typeof: Object,
              inject: 'SynchronizationManager',
            },
            _currentUrl: String,
            _isInitializingVideo: {
              type: Boolean,
              value: true,
            },
            _isPosterVisible: {
              type: Boolean,
              value: true,
            },
            _hlsClient: Object,
            _nativeHlsSupport: {
              type: Boolean,
              readOnly: true,
              computed: '_getNativeHlsSupport()',
            },
          };
        }

        static get observers() {
          return [
            '_playStateChanged(state.playState)',
            '_positionChanged(state.position)',
            '_playbackRateChanged(state.playbackRate)',
            '_volumeChanged(state.volume)',
            '_mutedChanged(state.muted)',
            '_captionLanguageChanged(state.captionLanguage)',
            '_qualityChanged(urls, state.quality)',
          ];
        }

        servicesInjectedCallback() {
          super.servicesInjectedCallback();
          this._synchronizationManager.registerVideo(this.$.video);
        }

        disconnectedCallback() {
          super.disconnectedCallback();
          this._synchronizationManager.unregisterVideo(this.$.video);
        }

        _getNativeHlsSupport() {
          return this.$.video.canPlayType(HLS_MIME_TYPE) !== '';
        }

        _playStateChanged(playState) {
          if (playState === PLAY_STATES.PLAYING) {
            this.$.video.play();
          } else if (playState === PLAY_STATES.PAUSED) {
            this.$.video.pause();
          }
        }

        _positionChanged(position) {
          if(Math.abs(this.$.video.currentTime - position) > SYNC_DIFF_THRESHOLD) {
            this.$.video.currentTime = position;
          }
        }

        _playbackRateChanged(playbackRate) {
          this.$.video.playbackRate = playbackRate;
        }

        _volumeChanged(volume) {
          this.$.video.volume = volume;
        }

        _mutedChanged(muted) {
          this.$.video.muted = muted;
        }

        _qualityChanged(urls, quality) {
          let url = urls[quality];
          this._isInitializingVideo = true;

          // Change source depending on quality
          if(this._nativeHlsSupport || quality !== QUALITY_MODES.HLS) {
            // Destroy old hls client
            if(this._hlsClient) {
              this._hlsClient.destroy();
            }

            // The src attribute can not be updated using data bindings
            // since the binding may be overwritten by hls.js
            this.$.video.setAttribute('src', url);
          } else {
            // Create and configure new hls client for existing video element
            this._hlsClient = new Hls();
            this._hlsClient.loadSource(url);
            this._hlsClient.attachMedia(this.$.video);
          }
        }

        _captionLanguageChanged(language){
          if(this.master && this.captions && this._stateManager) {
            // Set cues to null, so that they cannot get toggled by interactive-transcript-switch
            if(language === 'off') {
              this._stateManager.setActiveCaptions(null);
            }

            for(let textTrack of this.$.video.textTracks) {
              if(textTrack.language === language) {
                textTrack.mode = 'showing';
                // If captions are not yet loaded, they will be set in
                // _handleTrackLoaded when load event is dispatched.
                this._stateManager.setActiveCaptions(Array.from(textTrack.cues));
              } else {
                textTrack.mode = 'hidden';
              }
            }
          }
        }

        _handleTrackLoaded(e) {
          let textTrack = e.target.track;
          if(textTrack.language === this.state.captionLanguage) {
            this._stateManager.setActiveCaptions(Array.from(textTrack.cues));
          }
        }

        _handleTimeUpdate() {
          let currentTime = this.$.video.currentTime;
          if(0 < currentTime && currentTime < this.state.duration) {
            this._isPosterVisible = false;
          }
          if(this.master && !this._isInitializingVideo) {
            this._stateManager.setPosition(currentTime);
          }

          // Trigger ended event handler manually, since the event is not
          // triggered correctly on synchronized video streams.
          if(currentTime >= this.state.duration) {
            this._handleEnded();
          }
        }

        _handleLoadedMetadata() {
          // Extract duration of the video after metadata have been loaded
          if(this.master) {
            this._stateManager.setDuration(this.$.video.duration);
          }
        }

        handleCanPlay() {
          if(this._isInitializingVideo) {
            this._applyState();
            this._isInitializingVideo = false;
          }
        }

        _handlePlaying() {
          this._isPosterVisible = false;
        }

        _handleEnded() {
          // Explicitly propagate end position (needed for HLS.js)
          if(this.master) {
            this._stateManager.setPosition(this.state.duration);
          }
          this._isPosterVisible = true;
        }

        _handleClick() {
          this._stateManager.togglePlayPause();
        }

        _applyState() {
          this._playStateChanged(this.state.playState);
          this._positionChanged(this.state.position);
          this._playbackRateChanged(this.state.playbackRate);
          this._volumeChanged(this.state.volume);
          this._mutedChanged(this.state.muted);
        }
      }

      window.customElements.define(VideoStream.is, VideoStream);
    });
  </script>

</dom-module>
