<link rel="import" href="../3rd-imports/scoped-imd.html">

<link rel="import" href="../constants.html">
<link rel="import" href="../3rd-imports/hls-js.html">
<link rel="import" href="../mixins/binding-helpers.html">
<link rel="import" href="../mixins/ioc-requester.html">
<link rel="import" href="../styling/global--style-module.html">


<dom-module id="video-stream">
  <template>
    <style type="text/css" include="global--style-module">
      #container__video_stream {
        position: relative;
        width: 100%;
        height: auto; /* TODO: changed from 100% to fix resizer quickly */
        /* Without line-height: 0, there will be a black bar underneath videos for unknown reasons. */
        line-height: 0;
      }
      video {
        width: inherit;
        height: inherit;
      }

      #container__poster_overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      #image__poster {
        width: 100%;
        height: 100%;
      }
    </style>

    <div id="container__video_stream">
      <!-- "playsinline" is for iOS to not use its native video player -->
      <video id="video" preload="[[ifThenElse(preload, 'auto', 'metadata')]]" on-click="_handleClick" on-loadedmetadata="_handleLoadedMetadata" playsinline="true">
        <template is="dom-repeat" items="[[captions]]">
          <track src="[[item.url]]" kind="subtitles" srclang="[[item.language]]" label="English" on-load="_handleTrackLoaded">
        </template>
      </video>
      <template is="dom-if" if="[[and(props.poster, _isPosterVisible)]]">
        <div id="container__poster_overlay">
          <img id="image__poster" src="[[props.poster]]" alt="Poster" on-click="_handleClick" />
        </div>
      </template>
    </div>
  </template>

  <script>
    IMD.define('video-stream', ['binding-helpers', 'ioc-requester', 'hls-js', 'constants'], (BindingHelpersMixin, IocRequesterMixin, Hls, constants) => {
      const {PLAY_STATES, QUALITY_MODES, HLS_MIME_TYPE, SEEK_DIFF_THRESHOLD} = constants;

      class VideoStream extends BindingHelpersMixin(IocRequesterMixin(Polymer.Element)) {
        static get is() { return 'video-stream'; }

        static get properties() {
          return {
            state: Object,
            props: Object,
            captions: Array,
            preload: {
              type: Boolean,
              value: true,
            },
            _stateManager: {
              typeof: Object,
              inject: 'StateManager',
            },
            _synchronizationManager: {
              typeof: Object,
              inject: 'SynchronizationManager',
            },
            _currentUrl: String,
            _isInitializingVideo: {
              type: Boolean,
              value: true,
            },
            _hlsClient: Object,
            _nativeHlsSupport: {
              type: Boolean,
              readOnly: true,
              computed: '_getNativeHlsSupport()',
            },
            _isPosterVisible: {
              type: Boolean,
              computed: '_getIsPosterVisible(state.playState, state.position, state.trimStart, state.trimEnd)',
            },
          };
        }

        static get observers() {
          return [
            '_playStateChanged(state.playState)',
            '_positionChanged(state.position)',
            '_playbackRateChanged(state.playbackRate)',
            '_volumeChanged(state.volume)',
            '_mutedChanged(state.muted, props.muted)',
            '_captionLanguageChanged(state.captionLanguage)',
            '_qualityChanged(props, state.quality)',
          ];
        }

        servicesInjectedCallback() {
          super.servicesInjectedCallback();
          this._synchronizationManager.registerVideo(this.$.video);
        }

        disconnectedCallback() {
          super.disconnectedCallback();
          this._synchronizationManager.unregisterVideo(this.$.video);

          // Stop playback and unload source
          this.$.video.pause();
          this.$.video.src = '';
          this.$.video.load();
        }

        _getNativeHlsSupport() {
          return this.$.video.canPlayType(HLS_MIME_TYPE) !== '';
        }

        _getIsPosterVisible(playState, position, trimStart, trimEnd) {
          return playState === PLAY_STATES.PAUSED && (position === trimStart || position === trimEnd);
        }

        _playStateChanged(playState) {
          if(this._isInitializingVideo) {
            return;
          }

          let promise;
          if (playState === PLAY_STATES.PLAYING) {
            promise = this.$.video.play();
          } else if(!this.$.video.paused && this.$.video.readyState > 2) {
            promise = this.$.video.pause();
          }

          // If error occured while applying play state on video, update the
          // play state with regard to the video status.
          // This can happen for example in Safari when autoplay is active,
          // because Safari does not allow to play a video without the user
          // clicking a button
          if(promise) {
            promise.catch(() => {
              if(this.$.video.paused)
                this._stateManager.pause();
              else
                this._stateManager.play();
            });
          }
        }

        _positionChanged(position) {
          if(this._isInitializingVideo) {
            return;
          }

          if(Math.abs(this.$.video.currentTime - position) > SEEK_DIFF_THRESHOLD) {
            this.$.video.currentTime = position;
            return true;
          }

          return false;
        }

        _playbackRateChanged(playbackRate) {
          if(!this._isInitializingVideo) {
            this.$.video.playbackRate = playbackRate;
          }
        }

        _volumeChanged(volume) {
          if(!this._isInitializingVideo) {
            this.$.video.volume = volume;
          }
        }

        _mutedChanged(muted) {
          if(this.props.muted) {
            this.$.video.muted = true;
          } else if(!this._isInitializingVideo) {
            this.$.video.muted = muted;
          }
        }

        _qualityChanged(props, quality) {
          this._isInitializingVideo = true;
          if(this._synchronizationManager) {
            this._synchronizationManager.setWaiting(this.$.video);
          }

          // Change source depending on quality
          let url = props[quality];
          if(this._nativeHlsSupport || quality !== QUALITY_MODES.HLS) {
            // Destroy old hls client
            if(this._hlsClient) {
              this._hlsClient.destroy();
            }

            // The src attribute can not be updated using data bindings
            // since the binding may be overwritten by hls.js
            this.$.video.setAttribute('src', url);
            this.$.video.load();
          } else {
            // Create and configure new hls client for existing video element
            this._hlsClient = new Hls();
            this._hlsClient.loadSource(url);
            this._hlsClient.attachMedia(this.$.video);
          }

          // Reapply current state to video element after the new source has been loaded
          if(this._synchronizationManager) {
            this._synchronizationManager.onVideosReady(() => {
              this._isInitializingVideo = false;
              this._applyState();
            }, true);
          } else {
            this.$.video.addEventListener('canplay', () => {
              this._isInitializingVideo = false;
              this._applyState();
            }, true);
          }
        }

        _captionLanguageChanged(language){
          if(this.captions && this._stateManager) {
            // Set cues to null, so that they cannot get toggled by interactive-transcript-control
            if(language === 'off') {
              this._stateManager.setActiveCaptions(null);
            }

            // Microsoft Edge is old which is why we can't use the following:
            // for(let textTrack of this.$.video.textTracks) {
            for(let textTrackIndex = 0; textTrackIndex < this.$.video.textTracks.length; textTrackIndex++) {
              let textTrack = this.$.video.textTracks[textTrackIndex];
              if(textTrack.language === language) {
                textTrack.mode = 'showing';
                // If captions are not yet loaded, they will be set in
                // _handleTrackLoaded when load event is dispatched.
                this._stateManager.setActiveCaptions(Array.from(textTrack.cues));
                // Change back to 'hidden' since we have our own HTML elements for
                // displaying captions. Before this, we tried hiding captions
                // via the CSS ::cue pseudo-class but Firefox and Microsoft Edge
                // didn't play along. This here works well across browsers.
                textTrack.mode = 'hidden';
              } else {
                textTrack.mode = 'disabled';
              }
            }
          }
        }

        _handleTrackLoaded(e) {
          let textTrack = e.target.track;
          if(textTrack.language === this.state.captionLanguage) {
            this._stateManager.setActiveCaptions(Array.from(textTrack.cues));
          }
        }

        _handleClick() {
          this._stateManager.togglePlayPause();
        }

        _handleLoadedMetadata() {
          // Dispatch event letting other components know that the video has
          // been loaded (i.e. ResizerControl)
          this.dispatchEvent(new CustomEvent('loaded-video', {
            detail: {
              resolution: {
                height: this.$.video.videoHeight,
                width: this.$.video.videoWidth,
              },
            },
          }));
        }

        _applyState() {
          // Make sure that playState is first applies after seek process
          this.$.video.addEventListener('seeked', () => this._playStateChanged(this.state.playState), true);
          let seeked = this._positionChanged(this.state.position);
          this._playbackRateChanged(this.state.playbackRate);
          this._volumeChanged(this.state.volume);
          this._mutedChanged(this.state.muted);
          if(!seeked) {
            this._playStateChanged(this.state.playState);
          }
        }
      }

      window.customElements.define(VideoStream.is, VideoStream);
    });
  </script>

</dom-module>
