<link rel='import' href='../../../polymer/polymer-element.html'>

<dom-module id='video-stream'>

  <template>
    <style type="text/css">
      #container__video_stream {
        width: 100%;
        height: 100%;
      }
      video {
        width: inherit;
        height: inherit;
      }
    </style>

    <div id="container__video_stream">
      <video id='video' src$='[[url]]' preload="auto"></video>
    </div>
  </template>

  <script>
    class VideoStream extends Polymer.Element {
      static get is() { return 'video-stream'; }

      static get properties() {
        return {
          url: {
            type: String
          },
          master: {
            type: Boolean,
            value: true
          },
          state: {
            type: Object
          },
          stateManager: {
            type: Object
          }
        };
      }

      static get observers() {
        return [
          '_playStateChanged(state.playState)',
          '_positionChanged(state.position)',
          '_playbackRateChanged(state.playbackRate)',
          '_volumeChanged(state.volume)',
          '_mutedChanged(state.muted)'
        ]
      }

      ready() {
        super.ready();
        // Add event listeners
        this.$.video.addEventListener('timeupdate', () => {
          if(this.master) {
            this.stateManager.setPosition(this.$.video.currentTime);
          }
        });
        // load metadata for extraction of the video's duration
        this.$.video.addEventListener('loadedmetadata', () => {
          if(this.master) {
            this.stateManager.setDuration(this.$.video.duration);
          }
        });
        // start/stop both streams when they get clicked on
        this.$.video.addEventListener('click', () => this.stateManager.togglePlayPause());
      }

      _playStateChanged(playState) {
        if (playState == 'PLAYING')
          this.$.video.play();
        else
          this.$.video.pause();
      }

      _positionChanged(position) {
        if( Math.abs(this.$.video.currentTime - position) > 1 ) {
          this.$.video.currentTime = position;
        }
      }

      _playbackRateChanged(playbackRate) {
        this.$.video.playbackRate = playbackRate;
      }

      _volumeChanged(volume) {
        this.$.video.volume = volume;
      }

      _mutedChanged(muted) {
        this.$.video.muted = muted;
      }
    }

    window.customElements.define(VideoStream.is, VideoStream);
  </script>

</dom-module>
