<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">

<dom-module id="progress-bar">

  <template>
    <style type="text/css">
      :host {
        flex-basis: 100%;
      }

      #container__progress_bar {
        position: relative;
        width: 100%;
        height: 15px;
        border: 1px solid #5A6065;
        border: 1px solid var(--secondary-background-color);
        @apply --background-color;
      }
      #container__progress_bar.-no-border {
        border: none;
      }

      .progress-overlay {
        position: absolute;
        height: 100%;
      }

      #div__primary_progress {
        @apply --accent-color-background;
        z-index: 2;
      }

      #div__secondary_progress {
        @apply --secondary-background-color;
        z-index: 1;
      }
    </style>

    <div id="container__progress_bar" on-click="handleClick" class$="[[ifThenElse(border, '', '-no-border')]]">
      <div id="div__primary_progress" class="progress-overlay" style$="width: [[calcWidth(value, min, max)]]%;"></div>
      <div id="div__secondary_progress" class="progress-overlay" style$="width: [[calcWidth(secondaryValue, min, max)]]%;"></div>
    </div>
  </template>

  <script>
    define('progress-bar', ['binding-helpers'], (BindingHelpersMixin) => {
      class ProgressBar extends BindingHelpersMixin(Polymer.Element) {
        static get is() { return 'progress-bar'; }

        static get properties() {
          return {
            min: {
              type: Number,
              value: 0,
            },
            max: {
              type: Number,
              value: 1,
            },
            value: {
              type: Number,
              value: 0,
            },
            secondaryValue: {
              type: Number,
              value: 0,
            },
            border: {
              type: Boolean,
              value: false,
            },
          };
        }

        calcWidth(value, min, max) {
          if(max > min && min <= value && max >= value) {
            return (value - min) / max * 100;
          }

          return 0;
        }

        handleClick(e) {
          // Get x value by substracting offsetleft of control
          let borderLeftWidth = parseInt(getComputedStyle(this.$.container__progress_bar, null).getPropertyValue('border-left-width'), 10);
          let x = e.pageX - this.getBoundingClientRect().left - borderLeftWidth;
          // Calculate value that will be between 0 and the max value
          let clickedValue = x * this.max / this.offsetWidth;
          // Check if still within borders
          if(clickedValue <= this.max) {
            this.value = clickedValue;
            this.dispatchEvent(new CustomEvent('change'));
          }
        }
      }

      window.customElements.define(ProgressBar.is, ProgressBar);
    });
  </script>

</dom-module>
