<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../styling/global--style-module.html">

<dom-module id="progress-bar">

  <template>
    <style type="text/css" include="global--style-module">
      :host {
        flex-basis: 100%;
      }

      #container__progress_bar {
        position: relative;
        width: 100%;
        height: 15px;
        border: 1px solid grey;
        @apply --set-background-color;
      }
      #container__progress_bar.-no-border {
        border: none;
      }

      .progress-overlay {
        position: absolute;
        height: 100%;
      }

      #div__primary_progress {
        @apply --set-accent-color-background;
        z-index: 2;
      }

      #div__secondary_progress {
        @apply --set-secondary-background-color;
        z-index: 1;
      }

      #div__time_box {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.85);
        color: #FFFFFF;
      }
      #container__progress_bar.-left #div__time_box {
        left: 0;
      }
      #container__progress_bar.-right #div__time_box {
        right: 0;
      }

      #container__progress_bar:hover #div__time_box {
        display: block;
      }
    </style>

    <div id="container__progress_bar" on-click="_handleClick" on-mousemove="_showTargetPosition" on-mouseout="_toggleTargetPosition" class$="[[ifThenElse(border, '', '-no-border')]]">
      <div id="div__primary_progress" class="progress-overlay" style$="width: [[_calcWidth(value, min, max)]]%;"></div>
      <div id="div__secondary_progress" class="progress-overlay" style$="width: [[_calcWidth(secondaryValue, min, max)]]%;"></div>
      <div 
        id="div__time_box" 
        style$="visibility: [[ifThenElse(_isVisible, 'visible', 'hidden')]];">
        [[targetValue]]
      </div>
    </div>
    
  </template>

  <script>
    define('progress-bar', ['binding-helpers'], (BindingHelpersMixin) => {
      class ProgressBar extends BindingHelpersMixin(Polymer.Element) {
        static get is() { return 'progress-bar'; }

        static get properties() {
          return {
            min: {
              type: Number,
              value: 0,
            },
            max: {
              type: Number,
              value: 1,
            },
            value: {
              type: Number,
              value: 0,
            },
            secondaryValue: {
              type: Number,
              value: 0,
            },
            border: {
              type: Boolean,
              value: false,
            },
            _isVisible: {
              type: Boolean,
              value: false,
            },
            targetValue: {
              type: String,
              value: 0
            },
            showTargetPositionOnHover: {
              type: Boolean,
              value: false
            }
          };
        }

        _calcWidth(value, min, max) {
          if(max > min && min <= value && max >= value) {
            return (value - min) / max * 100;
          }

          return 0;
        }

        _handleClick(e) {
          // Check if still within borders
          let clickedValue = this._getClickedValue(e);
          if( clickedValue <= this.max) {
            this.value = clickedValue;
            this.dispatchEvent(new CustomEvent('change'));
          }
        }

        _showTargetPosition(e) {
          if(this.showTargetPositionOnHover){
            this._isVisible=true;
            this.$.div__time_box.style.top = this.$.container__progress_bar.style.top - this.$.div__time_box.offsetHeight + 'px';
            this.$.div__time_box.style.left = e.offsetX + 'px';
            this.targetValue = this.secondsToHms(this._getClickedValue(e));

            // get right end of time box and right end of progress bar in pixels from complete document top left
            let timeBoxRightEnd = this.$.div__time_box.offsetLeft + this.$.div__time_box.offsetWidth
            let progressBarRightEnd = this.$.container__progress_bar.offsetLeft + this.$.container__progress_bar.offsetWidth

            // remove class left if contained
            // add class right if not already contained
            if(timeBoxRightEnd > progressBarRightEnd){
              if( this.$.div__time_box.classList.contains('-left') ) this.$.div__time_box.classList.remove('-left');
              if( !this.$.div__time_box.classList.contains('-right') ) this.$.div__time_box.classList.add('-right');
            }
            // remove class right if contained
            // add class left if not already contained
            else{
              if( this.$.div__time_box.classList.contains('-right') ) this.$.div__time_box.classList.remove('-right');
              if( !this.$.div__time_box.classList.contains('-left') ) this.$.div__time_box.classList.add('-left');
            }
          }
        }



        _toggleTargetPosition(e){
          this._isVisible=false;
        }

        _getClickedValue(e){
          // Get x value by substracting offsetleft of control
          let borderLeftWidth = parseInt(getComputedStyle(this.$.container__progress_bar, null).getPropertyValue('border-left-width'), 10);
          let x = e.pageX - this.getBoundingClientRect().left - borderLeftWidth;

          // Heuristic to take care the end can be reached
          if(this.getBoundingClientRect().width - x <= 1) {
            x = this.getBoundingClientRect().width;
          }

          // Calculate value that will be between 0 and the max value
          let clickedValue = Math.max(0, Math.min(this.max, x * this.max / this.getBoundingClientRect().width));

          return clickedValue;
        }
      }

      window.customElements.define(ProgressBar.is, ProgressBar);
    });
  </script>

</dom-module>
