<link rel="import" href="../../3rd-imports/scoped-imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../styling/global--style-module.html">

<dom-module id="progress-bar">

  <template>
    <style type="text/css" include="global--style-module">
      :host {
        flex-basis: 100%;
      }

      #container__progress_bar {
        position: relative;
        width: 100%;
        height: 15px;
        border: 1px solid grey;
        @apply --set-background-color;
      }
      #container__progress_bar.-no-border {
        border: none;
      }

      .progress-overlay {
        position: absolute;
        height: 100%;
      }

      #div__primary_progress {
        @apply --set-accent-color-background;
        z-index: 2;
      }

      #div__secondary_progress {
        @apply --set-secondary-background-color;
        z-index: 1;
      }

      #div__hover_box {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        color: #FFFFFF;
        padding: 2px;
        min-width: 40px;
        text-align: center;
        z-index: 10;
      }

      #container__progress_bar:hover #div__hover_box {
        display: block;
      }
    </style>

    <div id="container__progress_bar"
         on-click="_handleClick"
         on-mouseover="_showHoverBox"
         on-mousemove="_updateHoverBoxPosition"
         on-mouseout="_hideHoverBox"
         class$="[[ifThenElse(border, '', '-no-border')]]">
      <div id="div__primary_progress" class="progress-overlay" style$="width: [[_calcWidth(value, min, max)]]%;"></div>
      <div id="div__secondary_progress" class="progress-overlay" style$="width: [[_calcWidth(secondaryValue, min, max)]]%;"></div>
      <div id="div__hover_box" style$="visibility: [[ifThenElse(_hoverBoxVisible, 'visible', 'hidden')]];">
        [[_hoverBoxContent]]
      </div>
    </div>

  </template>

  <script>
    IMD.define('progress-bar', ['binding-helpers'], (BindingHelpersMixin) => {
      const HOVER_BOX_STATES = {
        ABSOLUE: 'abs',
        RELATIVE: 'rel',
        HIDDEN: 'hiden',
      };

      class ProgressBar extends BindingHelpersMixin(Polymer.Element) {
        static get is() { return 'progress-bar'; }

        static get properties() {
          return {
            min: {
              type: Number,
              value: 0,
            },
            max: {
              type: Number,
              value: 1,
            },
            value: {
              type: Number,
              value: 0,
            },
            secondaryValue: {
              type: Number,
              value: 0,
            },
            border: {
              type: Boolean,
              value: false,
            },
            hoverBox: {
              type: String,
              value: HOVER_BOX_STATES.HIDDEN,
            },
            _hoverBoxVisible: {
              type: Boolean,
              value: false,
            },
            _hoverBoxContent: {
              type: String,
              value: 0,
            },
          };
        }

        _calcWidth(value, min, max) {
          return Math.min(Math.max(0, (value - min) / max * 100), 100);
        }

        _handleClick(e) {
          // Check if still within borders
          let clickedValue = this._getCursorPosition(e);
          if( clickedValue <= this.max) {
            this.value = clickedValue;
            this.dispatchEvent(new CustomEvent('change'));
          }
        }

        _showHoverBox() {
          this._hoverBoxVisible = true;
        }

        _updateHoverBoxPosition(e) {
          if(this.hoverBox !== HOVER_BOX_STATES.HIDDEN) {
            let timeBox = this.$.div__hover_box;
            let progressContainer = this.$.container__progress_bar;

            timeBox.style.top = progressContainer.style.top - timeBox.offsetHeight + 'px';
            let time = this._getCursorPosition(e);
            if(this.hoverBox === HOVER_BOX_STATES.RELATIVE) {
              time = time - this.max;
            }
            this._hoverBoxContent = this.secondsToHms(time);

            // Get right end of time box and right end of progress bar in pixels
            let timeBoxRightEnd = e.pageX - progressContainer.getBoundingClientRect().left + timeBox.offsetWidth;
            let progressBarRightEnd = progressContainer.offsetLeft + progressContainer.offsetWidth;

            if(timeBoxRightEnd >= progressBarRightEnd) {
              // Remove class left if contained
              // add class right if not already contained
              timeBox.style.left = 'auto';
              timeBox.style.right = '0px';
            } else {
              // Remove class right if contained
              // add class left if not already contained
              timeBox.style.left = e.offsetX + 'px';
              timeBox.style.right = 'auto';
            }
          }
        }

        _hideHoverBox() {
          this._hoverBoxVisible = false;
        }

        _getCursorPosition(e) {
          // Get x value by substracting offsetleft of control
          let borderLeftWidth = parseInt(getComputedStyle(this.$.container__progress_bar, null).getPropertyValue('border-left-width'), 10);
          let x = e.pageX - this.getBoundingClientRect().left - borderLeftWidth;

          // Heuristic to take care the end can be reached
          if(this.getBoundingClientRect().width - x <= 1) {
            x = this.getBoundingClientRect().width;
          }

          // Calculate value that will be between 0 and the max value
          let clickedValue = Math.max(0, Math.min(this.max, x * this.max / this.getBoundingClientRect().width));

          return clickedValue;
        }
      }

      window.customElements.define(ProgressBar.is, ProgressBar);
    });
  </script>

</dom-module>
