<link rel="import" href="../../3rd-imports/scoped-imd.html">
<link rel="import" href="../../../../../node_modules/polymer-font-awesome/dist/font-awesome.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../styling/control-bar--style-module.html">

<dom-module id="select-control">
  <template>
    <style type="text/css" include="control-bar--style-module font-awesome">
      :host {
        width: 100%;
      }

      #inner_container__select_control {
        position: relative;
        height: 40px;
      }
      .dropdown .dropdown-content {
        position: absolute;
        /* Equals control bar height. This is set to assure that the dropdown opens to the top. */
        bottom: 40px;
        /* Cancel out the padding */
        left: -10px;
        right: -10px;
        z-index: 10;

        border: 1px solid black;
        border-bottom: none;

        @apply --set-foreground-color;
        @apply --set-background-color;
      }
      .dropdown .dropdown-content a {
        display: inline-block;
        line-height: 2;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .dropdown .dropdown-content a:hover,
      .dropdown .dropdown-content a.selected {
        background-color: grey;
      }

      .dropdown #button__select.with-badge:after {
        content: attr(badge-value);
        position: absolute;
        top: 6px;
        right: -12px;
        width: 20px;
        @apply --set-accent-color-background;
        @apply --set-font-color-on-accent-color;
        border-radius: 2px;
        line-height: 1.5;
        font-size: 9px;
        font-weight: lighter;
      }

      /* Microsoft Edge does not support CSS variables in pseudo-elements so the colors
         we declare for the badge don't work (worse: they get applied to the parent
         element). That's why we need to treat Edge separately which we do here.
         We use the dark-orange theme colors for this. This might clash with other
         themes but is in our eyes still a workable solution.
         This workaround should be unnecessary with the upcoming Microsoft Edge that
         is about to be released in the fall of 2017.
         Here's a link to the corresponding bug report ("In code review" as of 07/2017):
         https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/12414257/
         And a link to a similar bug report:
         https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11495448/
         And here's a link about the CSS selector that targets only Microsoft Edge because
         it looks for a feature that is only supported in Edge:
         https://jeffclayton.wordpress.com/2015/04/07/css-hacks-for-windows-10-and-spartan-browser-preview/ */
      @supports (-ms-ime-align: auto) {
        .dropdown #button__select.with-badge{
          background-color: transparent;
          color: black;
        }
        .dropdown #button__select.with-badge:after {
           background-color: #DD6112;
           color: #000000;
        }
      }

      #container__select_control.in-menu-entry {
        background-color: transparent;
      }

      .in-menu-entry #inner_container__select_control {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .in-menu-entry #button__select {
        /* Necessary for horizontally aligning all icons */
         width: 30px;
      }
      .in-menu-entry #dropdown__select {
        display: flex;
      }
      .in-menu-entry #button__select, .in-menu-entry #dropdown__select a {
        padding: 0 5px;
        color: white;
      }

      .in-menu-entry #dropdown__select a.selected {
        @apply --set-accent-color-background;
        @apply --set-font-color-on-accent-color;
      }
    </style>

    <div id="container__select_control" class$="user_controls [[ifNotThen(isInMobileMenu, 'dropdown')]] [[ifThen(isInMobileMenu, 'in-menu-entry')]]">
      <div id="inner_container__select_control" on-mouseover="_handleMouseOver" on-mouseout="_handleMouseOut">
        <a id="button__select"
           class$="button [[ifThen(selectedItem.value, 'with-badge')]] [[ifNotThen(active, 'inactive')]]"
           badge-value$="[[selectedItem.text]]"
           href="javascript:void(0)"
           on-click="_handleClick">
          <i class$="[[iconClasses]]"></i>
        </a>
        <div id="dropdown__select" class$="dropdown-content [[ifNotThen(_isDropDownOpen, '-hidden')]]">
          <template is="dom-repeat" items="[[items]]">
            <a on-click="_handleDropDownElementClick" name="[[item.text]]" class$="[[ifEqualsThen(item.value, selectedValue, 'selected')]]" href="javascript:void(0)">
              [[item.text]]
            </a>
          </template>
        </div>
      </div>
    </div>
  </template>

  <script>
    IMD.define('select-control', ['binding-helpers'], (BindingHelpersMixin) => {
      class SelectControl extends BindingHelpersMixin(Polymer.Element) {
        static get is() { return 'select-control'; }

        static get properties() {
          return {
            state: Object,
            items: {
              type: Array,
              value: () => [],
            },
            selectedValue: Object,
            selectedItem: {
              type: Object,
              computed: '_getSelectedItem(items, selectedValue)',
            },
            iconClasses: {
              type: String,
              value: '',
            },
            isInMobileMenu: {
              type: Boolean,
              value: false,
            },
            _isDropDownOpen: {
              type: Boolean,
              value: false,
            },
            active: {
              type: Boolean,
              value: true,
            },
          };
        }

        static get observers() {
          return [
            '_mobileSettingsMenuChanged(state.mobileSettingsMenuOpen)',
          ];
        }

        _handleMouseOver() {
          if(!this.state.mobileSettingsMenuOpen) {
            this._showDropDown();
          }
        }

        _handleMouseOut() {
          if(!this.state.mobileSettingsMenuOpen) {
            this._hideDropDown();
          }
        }

        _showDropDown() {
          this._isDropDownOpen = true;
          this.$.container__select_control.classList.add('open');
        }

        _hideDropDown() {
          this._isDropDownOpen = false;
          this.$.container__select_control.classList.remove('open');
        }

        _handleClick() {
          if(this._isDropDownOpen) {
            this._hideDropDown();
          } else {
            this._showDropDown();
          }
        }

        _handleDropDownElementClick(e) {
          this.selectedValue = e.model.item.value;
          this.dispatchEvent(new CustomEvent('change'));

          if(!this.state.mobileSettingsMenuOpen) {
            this._hideDropDown();
          }
        }

        _getSelectedItem(items, selectedValue) {
          if(items) {
            return items.find(item => item.value === selectedValue);
          }
        }

        _mobileSettingsMenuChanged(menuOpen) {
          if(menuOpen) {
            if (this.isInMobileMenu) {
              this._showDropDown();
            } else {
              this._hideDropDown();
            }
          }
        }
      }

      window.customElements.define(SelectControl.is, SelectControl);
    });
  </script>

</dom-module>
