<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../base-element.html">
<link rel="import" href="../../styling/control-bar--style-module.html">

<dom-module id="select-control">
  <link rel="import" type="css" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">

  <template>
    <style type="text/css" include="control-bar--style-module">
      .dropdown {
        position: relative;
      }
      .dropdown-content {
        position: absolute;
        /* Equals control bar height. This is set to assure that the dropdown opens to the top. */
        bottom: 40px;
        /* Cancel out the padding */
        left: -10px;
        right: -10px;
        z-index: 10;

        @apply --foreground-color;
        @apply --background-color;
      }
      .dropdown-content a {
        display: inline-block;
        line-height: 2;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .open #button__select {
        cursor: default;
      }

      .dropdown-content a:hover {
        background-color: grey;
      }
      .dropdown-content a.selected {
        background-color: grey;
      }
    </style>

    <div id="container__select_control" class="user_controls">

      <template is="dom-if" if="{{isMultiValueSwitch()}}">
        <div class="dropdown" on-mouseover="showDropDown" on-mouseout="hideDropDown">
          <a id="button__select" class="button">
            <i class$="[[iconClasses]]"></i>
          </a>
          <div id="dropdown__select" class="dropdown-content" style$="display: [[ifThenElse(isDropDownOpen, 'initial', 'none')]];">
            <template is="dom-repeat" items="[[values]]">
              <a on-click="handleDropDownElementClick" class$="[[ifEqualsThen(item, selectedValue, 'selected')]]">[[formatter(item)]]</a>
            </template>
          </div>
        </div>
      </template>

      <template is="dom-if" if="{{isTupleSwitch()}}">
        <a id="button__select" class="button" on-click="handleButtonClick">
          [[formatter(selectedValue)]]
        </a>
      </template>       
    </div>
  </template>

  <script>
    define('select-control', ['base-element'], (BaseElement) => {
      class SelectControl extends BaseElement {
        static get is() { return 'select-control'; }

        static get properties() {
          return {
            values: {
              type: Array,
              value: [],
            },
            selectedValue: String,
            formatter: {
              type: Function,
              value: () => (x) => x,
            },
            isDropDownOpen: {
              type: Boolean,
              value: false,
            },
            iconClasses: {
              type: String,
              value: '',
            },
          };
        }

        showDropDown() {
          this.isDropDownOpen = true;
          this.$.container__select_control.classList.add('open');
        }

        hideDropDown() {
          this.isDropDownOpen = false;
          this.$.container__select_control.classList.remove('open');
        }

        handleButtonClick() {
          let index = (this.values.indexOf(this.selectedValue) + 1) % this.selectedValue.length;
          this.setSelectedValue(this.values[index]);
        }

        handleDropDownElementClick(e) {
          this.setSelectedValue(e.model.item);
          this.hideDropDown();
        }

        setSelectedValue(value) {
          this.selectedValue = value;
          this.dispatchEvent(new CustomEvent('change'));
        }

        isTupleSwitch() {
          return this.values.length === 2;
        }       

        isMultiValueSwitch() {
          return this.values.length > 2;
        }
      }

      window.customElements.define(SelectControl.is, SelectControl);
    });
  </script>

</dom-module>
