<link rel="import" href="../../../bower_components/imd/imd.html">

<link rel="import" href="../../mixins/binding-helpers.html">
<link rel="import" href="../../styling/control-bar--style-module.html">

<dom-module id="select-control">
  <link rel="import" type="css" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">

  <template>
    <style type="text/css" include="control-bar--style-module">
      .dropdown {
        position: relative;
      }
      .dropdown-content {
        position: absolute;
        /* Equals control bar height. This is set to assure that the dropdown opens to the top. */
        bottom: 40px;
        /* Cancel out the padding */
        left: -10px;
        right: -10px;
        z-index: 10;

        @apply --foreground-color;
        @apply --background-color;
      }
      .dropdown-content a {
        display: inline-block;
        line-height: 2;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .open #button__select {
        cursor: default;
      }

      .dropdown-content a:hover {
        background-color: grey;
      }
      .dropdown-content a.selected {
        background-color: grey;
      }

      #button__select:after {
        content: attr(badge-value);
        position: absolute;
        top: 6px;
        right: -12px;
        height: 13px;
        width: 20px;
        @apply --accent-color-background;
        border-radius: 2px;
        line-height: 1.5;
        font-size: 9px;
        font-weight: lighter;
      }
    </style>

    <div id="container__select_control" class="user_controls">
      <div class="dropdown" on-mouseover="_showDropDown" on-mouseout="_hideDropDown">
        <a id="button__select" class$="button [[ifNotThen(active, 'inactive')]]" badge-value$="{{formatter(selectedValue)}}">
          <i class$="[[iconClasses]]"></i>
        </a>
        <div id="dropdown__select" class$="dropdown-content [[ifNotThen(_isDropDownOpen, '-hidden')]]">
          <template is="dom-repeat" items="[[values]]">
            <a on-click="_handleDropDownElementClick" class$="[[ifEqualsThen(item, selectedValue, 'selected')]]">[[formatter(item)]]</a>
          </template>
        </div>
      </div> 
    </div>
  </template>

  <script>
    define('select-control', ['binding-helpers'], (BindingHelpersMixin) => {
      class SelectControl extends BindingHelpersMixin(Polymer.Element) {
        static get is() { return 'select-control'; }

        static get properties() {
          return {
            values: {
              type: Array,
              value: [],
            },
            selectedValue: String,
            formatter: {
              type: Function,
              value: () => (x) => x,
            },
            iconClasses: {
              type: String,
              value: '',
            },
            _isDropDownOpen: {
              type: Boolean,
              value: false,
            },
            active: {
              type: Boolean,
              value: true,
            }
          };
        }

        _showDropDown() {
          this._isDropDownOpen = true;
          this.$.container__select_control.classList.add('open');
        }

        _hideDropDown() {
          this._isDropDownOpen = false;
          this.$.container__select_control.classList.remove('open');
        }

        _handleDropDownElementClick(e) {
          this._setSelectedValue(e.model.item);
          this._hideDropDown();
        }

        _setSelectedValue(value) {
          this.selectedValue = value;
          this.dispatchEvent(new CustomEvent('change'));
        }
      }

      window.customElements.define(SelectControl.is, SelectControl);
    });
  </script>

</dom-module>
