<dom-module id="control-bar--style-module">
  <template>
    <style type="text/css">
      /* ------
      * The styles defined here are heritated by many classes.
      * Thus be careful when changing rules here.
       ------ */

      :host {
        /* Necessary to ensure that the height is correct in Safari */
        display: flex;
      }

      /* ------ Styling of the control bar elements ------ */
      .user_controls {
        /* ------ Alignment of the elements ------ */
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;

        /* ------ General styling of the control section ------ */
        padding: 10px;
        background-color: #424242;
        background-color: var(--background-color-for-primary);
        border-right: 2px solid #FFFFFF;
        border-right: 2px solid var(--primary-color);
        color: #FFFFFF;
        color: var(--primary-color);
        user-select: none;
        cursor: default;
      }
      .user_controls a {
        /* Override potential default stylings for links */
        color: #FFFFFF !important;
        color: var(--primary-color) !important;
      }

      .button {
        cursor: pointer;
      }

      /* ------ Styling of the progress bars within the control bar ------*/
      progress[value] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        border: 1px solid #5a6065;
      }
      progress::-ms-fill {
        border: none;
      }
      progress::-webkit-progress-value {
        background-color: #DD6112;
        background-color: var(--secondary-color);
      }
      progress::-moz-progress-bar {
        background-color: #DD6112;
        background-color: var(--secondary-color);
      }
      progress {
        color: #DD6112;
        color: var(--secondary-color);
      }

    </style>
  </template>
</dom-module>
