<dom-module id="progress-container--style-module">
  <template>
    <style type="text/css">
      /* ------
      * The styles defined here are heritated by many classes.
      * Thus be careful when changing rules here.
       ------ */

      :host {
      }
 
      .progress_indicator {
        margin-bottom: -1px;
      }

      progress[value] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
      }

    </style>
  </template>
</dom-module>
