<link rel="import" href="../../../../bower_components/imd/imd.html">

<dom-module id="lecture-slide">
  <template>
    <style type="text/css">
      #container__lecture_slide_element {
        position: absolute;
        right: 0;
        border-left: 1px solid black;
        border-right: 1px solid black;
        @apply --secondary-background-color;
        height: 10px;
      }
      #container__lecture_slide_element:hover {
        background-color: white;
      }

      #image__slide_preview {
        display: none;
        position: absolute;
        bottom: 100%;
        max-width: 100px;
        border: 1px solid black;;
        background-color: white;
      }
      #container__lecture_slide_element.-left #image__slide_preview {
        left: 0;
      }
      #container__lecture_slide_element.-right #image__slide_preview {
        right: 0;
      }

      #container__lecture_slide_element:hover #image__slide_preview {
        display: initial;
      }
    </style>

    <div id="container__lecture_slide_element" 
         on-click="handleClick" 
         style$="left: [[_stylePercentage(slide.startPosition, state.duration)]]%;"
         class$="[[_getSlidePosition(slide.startPosition, state.duration)]]">
        <img id="image__slide_preview" src="[[slide.imageUrl]]">
    </div>

  </template>

  <script>
    define('lecture-slide', ['base-element'], (BaseElement) => {
      class LectureSlide extends BaseElement {
        static get is() { return 'lecture-slide'; }

        static get properties() {
          return {
            state: Object,
            stateManager: Object,
            slide: Object,
          };
        }

        _stylePercentage(position, duration) {
          return position / duration * 100;
        }        

        _getSlidePosition(position, duration) {
          let percentage = this._stylePercentage(position, duration);
          // This is an approximation 
          // to avoid that the slide image overflows the video container
          if(percentage > 90) {
            return '-right';
          } else {
            return '-left';
          }
        }

        handleClick(){
          this.stateManager.setPosition(this.slide.startPosition);
        }
      }

      window.customElements.define(LectureSlide.is, LectureSlide);
    });
  </script>

</dom-module>
