<link rel="import" href="../../../../bower_components/imd/imd.html">


<link rel="import" href="lecture-slide.html">
<link rel="import" href="../../../styling/progress-container--style-module.html">
<link rel="import" href="../../../base-element.html">

<dom-module id="lecture-slide-bar">
  <template>
    <style type="text/css" include="progress-container--style-module">
    #container__lecture_slide {
      height: 10px;
    }
    </style>

    <div id="container__lecture_slide" class="progress_indicator">
        <template is="dom-repeat" items="{{slides}}">
          <lecture-slide
            state="{{state}}"
            state-manager="{{stateManager}}"
            slide="{{item}}">
          </lecture-slide>
        </template>
    </div>

  </template>

  <script>
    define('lecture-slide-bar', ['base-element'], (BaseElement) => {
      class LectureSlideBar extends BaseElement {
        static get is() { return 'lecture-slide-bar'; }

        static get properties() {
          return {
            state: Object,
            stateManager: Object,
            slides: Array,
          };
        }
      }

      window.customElements.define(LectureSlideBar.is, LectureSlideBar);
    });
  </script>

</dom-module>
